canvas {
	display: block !important;
}
.composite-left-bar {
	width: 200px;
	background-color: #2a81d8;
	height: 100%;
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.composite-right {
	border: solid;
	display: inline-block;
	border-color: black;
	padding: 0px 0px;
	border-width: 0px;
}
.container {
 
}

.tablet .composite-right {

}

.cc-menu {
	width: 200px;
	height: 100%;
	font-family: 'Noto Serif';
	text-align: center;;
	color:white;
	font-size: 16px;
	letter-spacing: 2px;
	margin-top: 5px;
	overflow: hidden;
}
.cc-header {
	font-family: 'Baumans';
	text-transform: uppercase;
	border-color: #e7e7e7;
	border-bottom:double;
	margin-left: 5px;
	margin-right: 5px;
}
.cc-title {
	font-family: 'Lobster';
	font-size: 14px;
	text-transform: lowercase;
	border-color: #e7e7e7;
	border-bottom:double;
	margin-left: 5px;
	margin-right: 5px;	
}
.cc-button {
	width: 180px;
	height: 55px;
	margin: 5px 5px 0 5px;
	display:inline-block;
	color: black;
	overflow: hidden;
	position: relative;
}
.cc-row {
	width: 180px;
	background-color: #f2f6f7;
	margin: 5px 5px 0 5px;
	padding: 5px;
	display:inline-block;
	color: black;
	overflow: hidden;
	position: relative;
	font-size: 13px;
}
.cc-row-split-1 {
	width:100px;
}
.cc-row-split-2 {
	width:80px;
}
.cc-button-headshot-circle {
	position: absolute;
	left:0;
	width: 55px;
	height: 55px;
	border: solid;
	display: block;
	border-radius: 50%;
	background-color: #f2f6f7;
	cursor: pointer;
}
.cc-button-headshot-oval {
	position: absolute;
	cursor: pointer;
	background-color: #f2f6f7;
	top:0;
	left:66px;
	width: 42px;
	height: 55px;
	border-radius: 50%;
	border: solid;
	display: block;
}
.cc-button-headshot-square {
	position: absolute;
	cursor: pointer;
	background-color: #f2f6f7;
	left:120px;
	width: 55px;
	height: 55px;
	border: solid;
	display: block;
}


.customize {
	position: relative;
	text-align: center;
	margin:10px;
	z-index: 1030;
}
.customize_modal {
	z-index: 2002;
}

.customize_modal .modal-dialog {
	width: 300px ! important;
	margin-left: 20px !important;
	margin-right: none !important;
}

.composite_menu{
	background-color: #fff;
	border-radius: 6px;
	margin: 10px;
	color: #000;
	padding: 10px;
}


.composite_body{
	position: relative;
	background-color: #fff;
	border-radius: 6px;
	margin: 10px;
	color: #000;
	padding: 10px;
	overflow: auto;
	height:  100%;
}

.composite_wrapper {
	position: relative;
	width: 700px !important;
	height: 550px !important;
	background-color: #563d7c;
	color: #cdbfe3;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.composite_inner_wrapper {
	display: block;
	border-color: #fff;
	border:solid;
	height: 100%;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.composite_row {
	display: table;
	width: 665px;
	position: relative;
	margin: 5px;
}

.cc label{
	color:#fff;
}

.square {
/*	margin-left:auto !important;
	margin-right:auto !important;
*/	
	margin-left: 5px !important;
	margin-right: 5px !important;
	display: inline-table;
/*	border:dotted;
*/	height: 100%;
}

.square-headshot {

}

.img-headshot {
	max-height: 240px;
	width: auto;
}
.square-logo {

}
.square-info h4 {

}

.headshot_wrapper {
	display: table;
	padding: 5px;
	text-align: center;
	width: 100%;
}

.headshot_wrapper img {
	margin: auto;
}

.row-12 {
  height: 8.333333333333332%;
}

.row-11 {
  height: 16.666666666666664%;
}

.row-10 {
  height: 25%;
}

.row-9 {
  height: 33.33333333333333%;
}

.row-8 {
  height: 41.66666666666667%;
}

.row-7 {
  height: 71.4px;
}

.row-6 {
  height: 83.3333px;
}

.row-4b {
  height: 100px;
/* img size = (100*.9)-10border = 80 x 80 */
/*same as row-5 but bottom row is empty*/
}

.row-4 {
  height: 125px;
/* img size = (125*.9)-10border = 102 x 102 */
}

.row-3 {
  height: 166.66666px;
/* img size = (166.66*.9)-10border = 140 x 140 */
}

.row-2 {
  height: 250px;
/* img size = (250*.9)-10border = 215 x 215 */
}

.row-1 {
  height: 530px;
}

.wid-1 {
	width: 650px;
}
.wid-2 {
	width: 325px;	
}
.wid-3 {
	width: 216.5px;
}
.wid-4 {
	width: 162.5px;
}
.wid-5 {
	width: 130px;
}
.wid-6 {
	width: 108.3px;
}