/*
body
{
font-family:		Calibri, Verdana, Helvetica, Arail, sans-serif;
background-color:	#0066cc;
border-bottom:		thin solid black;
}
.modal-title
{
color:				orange;
}
.btn
{
background-color:	orange;
box-shadow:			1px 1px 1px 1px blue;
}

button
{
	padding:				3px;
	border-radius:			5px;
	width:					140px;
	background:				#fff no-repeat top right;
	background-color: 		orange;
	box-shadow:				1px 1px 1px 1px blue;
	
}

input
{
	padding:			3px;
	border-radius:		5px;
	width:				140px;
	background:			#fff no-repeat top right;
	

}
.yomo-feed 
{
	background-color:	#dfdfdf;
	font-size:			95%;
	font-style:			italic;
	font-weight:		bold;
	border-radius:		5px;
	box-shadow:			1px 1px 1px 1px black;
}
.cc-title
	{
	width:				50%;
	margin:				auto;
	margin-top:			5px;
	padding-left:		5px;
	border-radius:		15px;
	}
h1
{
text-align:				center;
color:					orange;
}
*/
