/*
body
{
	background-color: #cecece;
}
#yomo-profile
{
	border:		thin solid;
}
button
{
	padding:				2px;
	border-radius:			10px;
	width:					140px;
	background:				#fff no-repeat top right;
	background-color: 		orange;
	box-shadow:				0px 0px 1px 1px blue;
}
input
{
	padding:			2px;
	border-radius:		10px;
	width:				140px;
	background:			#fff no-repeat top right;
	box-shadow:			0px 0px 1px 1px blue;

}
.container
{
	background-color:	#dfdfdf;
	font-size:			95%;
	font-style:			italic;
	font-weight:		bold;
	border-radius:		15px;
	box-shadow:			2px 3px 0px 0px black;
}
h1
{
text-align:				center;
color:					orange;
background-color: 		blue;
border-radius: 			10px;
}
.btn
{
background-color:	orange;
box-shadow:			1px 1px 1px 1px blue;
}*/
