@import url('../bower_components/bootstrap/dist/css/bootstrap.css');

@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Lovers+Quarrel);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=UnifrakturMaguntia);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Engagement|Clicker+Script|Sue+Ellen+Francisco);

/* Put your CSS here */
html {
  min-height: 100%; position: relative;
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;
 }


body {
    background-color: #f2f6f7;
    height: 100%;
    font-family: 'Raleway', 'Open Sans', Helvetica,  Arial, sans-serif;
    color: #333;
    font-size: 14px;
}

button {
  border-radius: 0px !important;
}

input {
  border-radius: 0px !important;
}

.yomo-profile-box {
  background-color: transparent;
  display: block;
  position: relative;
  height: 100%;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-shadow: 5px 5px 15px -4px rgba(0,0,0,1);
  -moz-box-shadow: 5px 5px 15px -4px rgba(0,0,0,1);
  box-shadow: 5px 5px 15px -4px rgba(0,0,0,1);
}

.yomo-profile-box-2 {
  background-color: #fff;
  display: block;
  height: 100%;
  padding: 20px;
  margin-top: -1px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 5px 5px 15px -4px rgba(0,0,0,1);
  -moz-box-shadow: 5px 5px 15px -4px rgba(0,0,0,1);
  box-shadow: 5px 5px 15px -4px rgba(0,0,0,1);
}

.profile-avatar {
  padding:10px;
  border: solid;
  border-width: 0px;
  border-color: #fff;
  border-radius: 50%;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right:auto;
   box-shadow: 
        inset 0 0 0 6px rgba(42,129,216,1),
        0 1px 2px rgba(255,255,255,0.1);
    transition: all 0.4s ease-in-out;
}

.relative-box {
  position: relative;
  margin-top:-30px;
  padding:0px !important;

}

.social-box {

  display: block;
  position: relative;
  height: 140px;
  font-family: 'Open Sans';
  margin:0px;
  overflow: hidden;
}
.meta-info {
  font-family: 10px;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .meta-info {
    font-size: 8px;
  }
  .profile-avatar {
    width:120px;
    padding: 5px;

  }
  .admin-logo2 {
    
  }

}


.social-cell-1 {
  width: 33%;
  position: absolute;
  top: 0;
  left:0;
  height: 70px;
  background-color: Navy;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  margin: 0px;
}
.social-cell-2 {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 33%;
  width: 34%;
  height: 70px;
  background-color: green;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.social-cell-3 {
  display: inline-block;
  width: 33%;
  position: absolute;
  top: 0;
  left:67%;
  height: 70px;
  background-color: LightSeaGreen;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0px;
}


.social-cell-4 {
  display: inline-block;
  width: 33%;
  position: absolute;
  top: 70px;
  left:0;
  height: 70px;
  background-color: DodgerBlue;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0px;
}


.social-cell-5 {
  display: inline-block;
  width: 34%;
  position: absolute;
  top: 70px;
  left:33%;
  height: 70px;
  background-color: GoldenRod;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0px;
}


.social-cell-6 {
  display: inline-block;
  width: 33%;
  position: absolute;
  top: 70px;
  left:67%;
  height: 70px;
  background-color: DarkSlateBlue;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:0px;
}





.composite-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}


.login-wrapper {
  padding: 10px;
  }

.yomo-nav {
  
  background: #2181d8; /* Old browsers */
  background: -moz-linear-gradient(top,  #2181d8 0%, #4096ee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2181d8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2181d8 0%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2181d8 0%,#4096ee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2181d8 0%,#4096ee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2181d8 0%,#4096ee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2181d8', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 1px 2px #727272;
  
}
.icon-bar {
  background-color: #e7e7e7;
}

.navbar-nav li {
  margin-left: 10px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #2a81d8 !important;
  background-color: #e7e7e7;

}

.yomo-nav a {
  color:#fff;
}
.yomo-nav a:visited {
  color: #fff;
}
.yomo-feed {
  margin-top: 10px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.dropdown-menu {
    text-align: left;
    max-height: 121px;
    overflow: auto
}
.dropdown-menu li:hover {
  color:green;
}

.nav-title {
  line-height: 30px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-shadow: 0 2px 0 rgba(0,0,0,.2);
  position: relative;
  width: 100%;
  text-align: center;
  color: #2a81d8;
}
@media (max-width: 800px) {
  .nav-title {
    font-size: 26px;
  }
  .login-box {
    width: 50% !important;
    min-height:350px;
    min-width: 300px;
    
  }
  .login-logo img {
    display:none;
  }
}

a, a:visited, a:active {
  text-decoration: none !important;
  color: #2a81b8;
  font-weight: 500;
}

a:hover {
  text-decoration: none !important;
  color: #2a81b8;
}

.logo-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}


/*Containter Override*/
@media (max-width: 750px) {
  .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
/*Helper Classes*/
.padding-top-5 {
  padding-top: 5px;
}
.pad5 {
  padding-bottom: 5px;
}
.pad10 {
  padding-bottom: 10px;
}
.pad20 {
  padding-bottom: 20px;
}
.pad45 {
  padding-bottom: 45px;
}
.pad50 {
  padding-bottom: 50px;
}
.pad100 {
  padding-bottom: 100px;
}
.slot {color: #000; list-style: none;}
.jSlots-wrapper {
    overflow: hidden; /* to hide the magic */
    height: 20px; /* whatever the height of your list items are */
    display: inline-block; /* to size width correctly, can use float too, or width*/
    border: 1px solid #999;
}
.block-this {
  display: block;
  width:100%;
  position: relative;
  height: 100%;
}
.icon-bar {
  margin-left: 10px !important;
}

.yomoments {
  margin-left: 10px;
  display: block;
  font-family: 'Noto Serif';
  letter-spacing: 2px;
  text-shadow: 0 2px 0 rgba(0,0,0,0.3);
  text-transform: uppercase;
  font-size: 24px;
}
.yomoments a{
  font-family: 'Noto Serif';
  letter-spacing: 2px;
  text-shadow: 0 2px 0 rgba(0,0,0,0.3);
  text-transform: uppercase;
  font-size: 24px;
  
}
.yomoments-cat {
  margin-left: 213px;
  display: block;
  position: absolute;
  margin-top: -2px;

}
.yomoments-cat a{
  font-family: 'Lobster';
  letter-spacing: 2px;
  text-shadow: 0 2px 0 rgba(0,0,0,0.3);
  text-transform: lowercase;
  font-size: 24px;
}
.slash {
  font-family: 'Droid Sans';
  text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
  text-transform: uppercase;
  font-size: 40px;
  left: 195px;
  margin-right: 0px;
  margin-top: -4px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  display: block; 
}

.yomoments-logo {
  border-radius: 50%;
  height: 30px;
  width: 30px;
 text-shadow: 0 2px 0 rgba(0,0,0,0.3);
 margin-right: 5px;
 padding: 0px;
}

.modern {
  font-family: 'Noto Serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
}
.modern2 {
  font-family: 'Noto Serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
}
.link {
  cursor: pointer;
}
.cursive {
  color: #fff;
  font-family: 'Raleway Dots', cursive;
  letter-spacing: 2px;
  line-height: 1.2em;
}
.fancy {
  font-family: 'UnifrakturMaguntia';
}


.droid {
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  letter-spacing: 2px;
}


.green-link {
  display: block;
  cursor: pointer;
  width: 100%;
}

.capture-class {
  width:200px;
}

.admin-logo {
  width:200px;
  margin-left:auto;
  margin-right: auto;
  position: absolute;
  left:50%;
  z-index:1000;
  margin-left: -100px;
}
.admin-logo2 {
  max-height: 183px;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
}

div.upload {
    color: #2a81b8;
    position: relative;

}

input.capture-class {
    position: absolute;
    bottom: 50;
    height: 50px;
    display: block;
    opacity: 0 !important;
    overflow: hidden !important;
}



.nav-arrow-left {
  cursor: pointer;
  width:100px;
  text-align: left;
  position: absolute;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 35px;
  z-index: 1001;
  font-size: 16px;
}
.nav-arrow-left a{
  color: #fff;
}

.nav-arrow-right {
  margin-top:4px;
  margin-bottom: 4px;
  cursor: pointer;
  text-align: right;
  z-index: 1001;
  position: relative;
  float: right;
}
.nav-arrow-right a{
  color: #fff;
}

.nav-text-left {
  margin-left: 4px;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  position: absolute;
}

.nav-text-right {
  right: 10px;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  position: absolute;
}


.green-link a{
  font-weight: 700;
  color:#2a81b8 !important;
}

#ng-view {
  
}

.yomo-header {
  background: #2a81b8;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  color: ;
  padding: 10px 0px 0px;
}

.yomo-profile {
  color:#fff;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.yomo-explore-window {
  margin-top: 15px;
  position: relative;
  margin-bottom: 15px;
  height: 2000px;
  border: solid;
  border-color: rgba(8,232,222,1);
  border-style: thin;

}


.yomo-nav a a:visited a:hover a:active{
  color:#fff !important;
  text-decoration: none !important;
}

.yomo-nav a:hover {
 color:#fff !important;
  text-decoration: none !important; 
}

.yomo-nav-list {
  background-color: #2a81b8;
  padding: 2px !important;
  margin: 0px !important;
}

.yomo-nav-list li{
  background-color: #2a81b8;
  border-color: #fff;
  color:#fff;
}

.yomo-nav-list a{
  color:#fff !important;
  text-decoration: none !important; 
}
.yomo-nav-list a:hover{
  color:#fff !important;
  text-decoration: none !important; 
  background-color: #323a45 !important;
}

.yomo-nav-dropdown {
  width:100%;
  padding: 0px !important;
  margin: 0px !important;
}

.yomo-list-group {
  border-top:0px !important;
  border-bottom:1px !important;
  border-bottom-color: #fff !important;
  border-left:0px !important;
  border-right:0px !important;
}

.nav {
  margin-bottom: 0px !important;
}

.nav-link a, .nav-link a:visited{
  color: #323a45 !important;
}

.yomo-nav-split {
  margin-top: 5px;
}

.yomo-nav-split-1 {
  background-color: #128ac9;
  height: 30px;
  color: white;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
}

.yomo-nav-split-2 {
  background-color: #13c4d3;
  height: 30px;
  color: white;
  font-size: 1em;
  text-align: center;
  line-height: 30px;
  font-weight: 700;
}

.yomo-nav-split-1:hover, .yomo-nav-split-2:hover {
    opacity: .7;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; 
}

.width-1000 {
  width:1000px;
}
@media (max-width: 1020px) {
  .width-1000 {
    width: 100%;
    position: relative;
  }
  
} 
@media (max-width: 750px) {
  .container {
    padding-left: 2px;
    padding-right: 2px;
  }
  .thin {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
} 

.yomo-body {
  color: #fff;
  text-align: center;
  color: #fff;
  background-color: #f1f3f5;
  position: fixed;
  height: 100%;
  width: 100%;
}

.background-image {
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%
  opacity: .3;
}

.login-wrapper {
  width:400px;
  margin-left: auto;
  margin-right: auto;
}

.yomo-body a {
  color: #fff;
}
.yomo-body a:active {
  color: #fff;
}

.yomo-footer {
  margin-bottom:10px;
}

#nav-list ul{
  display: block;
  list-style: none;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#nav-list li{
  font-family: 'Baumans', cursive;
  text-transform: uppercase;
  line-height: 30px;
  list-style: none;
  cursor: pointer;
  color:#323a45;
  background-color: #2a81b8;
  font-size: 20px;
  margin: auto;
  text-indent: 0 !important;
}

#nav-list li a{
  display: block;
  cursor: pointer;
  width: 100%;
  color: #323a45 !important;
  font-weight: 700;
}

#nav-list li:nth-child(n+2):hover{
  background-color: #1cc9a7 !important;
}

#nav-list li:nth-child(1) {
  display: block;
}
#nav-list li:nth-child(n+2) {
  display: none;
}

#nav-button:hover li:nth-child(n+2){
  display: block;
}

.modal-footer {
  margin-top: 0px !important;
}

.profile-social-box {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: #2a81b8;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}


.yomo-input {
  position: relative;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  width:100%;
  height:35px !important;
  text-align:center !important;
  margin-bottom:2px;
  margin-top:2px;
}
.yomo-input-small {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  width:100%;
  height:35px !important;
  text-align:center !important;
  margin-bottom:5px !important;
}

.yomo-input-label {
  color: #000;
  font-size: 15px;
  font-weight: 700px;
  height:35px !important;
  line-height: 35px;
  text-align:right !important;
  margin-bottom:5px !important;
  text-transform: uppercase;
}

.yomo-input-modify {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  width:100%;
  height:35px !important;
  line-height: 35px;
  text-align:center !important;
  margin-bottom:5px !important;
}

.yomo-button {
  position: relative;
  width:100% !important;
  text-align:center !important;
  margin-bottom:5px !important;
  border: none;
}

.forgot-password {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn-default {
  background-color: #128ac9;
  color:#fff;
}

.btn-orange {
  background-color: #ff7025;
}
.navbar-logo {
  position: absolute;
  margin: auto;
  left: 0;
  right:0;
  height: 50px;
}

.btn-light-orange {
  background-color: #ff7e3a;
}

.btn-white {
  background-color: #fff;
  color: #000;
}

.btn-social-login {
  height:50px !important;
  text-align:center !important;
  border: none;
  border-color: rgba(255,255,255,.5);
  font-weight: 700;
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: #fff;
  line-height: 35px;
}

.btn-social-login i{
  float:left;
  line-height: 35px;
  width: 300px;
  height: 35px;
  
}

.no-padding {
  padding: 0 !important;
}

.btn-social-login:hover {
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; 
}

.btn-website {
  background-color: rgba(0, 112, 105, .5);
  width: 80%;
}

.btn-website:hover {
  background-color: rgba(0, 112, 105, 1);
}

.btn-website i{
  position: relative;
  color:#fff;
  height: 100%;
  line-height: 35px;
  width: 45px;
}

.btn-linkedin {
  background-color: rgba(0, 123, 182, .5);
  width: 80%;
}

.btn-linkedin:hover {
  background-color: rgba(0, 123, 182, 1);
}

.btn-linkedin i{
  padding-left: 10px;
  padding-right: 95%;
  position: relative;
  color:#fff;
  height: 100%;
  line-height: 35px;
}

.btn-facebook {
  background-color: rgba(59, 89, 152, .5);
  width: 80%;
  color: #fff;
  font-weight: 500 !important;
  border: none;
}

.btn-facebook:hover {
  background-color: rgba(59, 89, 152, 1);
  width: 80%;
  color: #fff;
  font-weight: 500 !important;
  border: none;
}

.btn-facebook i{
  padding-left: 10px;
  padding-right: 95%;
  position: relative;
  color:#fff;
  height: 100%;
  line-height: 35px;
}

.btn-facebook-1 {
  background-color: rgba(59, 89, 152, .5);
  width: 100%;
  color: #fff;
  font-weight: 500 !important;
  border: solid;
  padding: 2px;
  border-width: 2px;
  border-color: #fff;
  font-family: 'Raleway';
  font-size: 16px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.btn-facebook-1:hover {
  background-color: rgba(59, 89, 152, 1);
  width: 100%;
  color: #fff;
  font-weight: 500 !important;
  border: none;
}

.btn-facebook-1 i{
  padding-left: 10px;
  position: relative;
  color: #fff;
  width: 45px;
  height: 35px;
  line-height: 35px;
  padding-left: 5px; 
}

.btn-email {
  background-color: #ff7025;
  width: 100%;
  color: #fff;
  font-weight: 500 !important;
  border: none;
}

.btn-email:hover {
  background-color: rgba(0,215,200, 1);
  width: 100%;
  color: #fff;
  font-weight: 500 !important;
  border: none;
}

.btn-email i{
  padding-left: 10px;
  position: relative;
  color: #fff;
  width: 45px;
  height: 35px;
  line-height: 35px;
  padding-left: 5px; 
}

.login-box {
  border: 1px solid #dce1e6;
  border-radius:4px;
  /*box-shadow: inset 0 1px 0 white,0 1px 1px rgba(0,0,0,0.05);*/
  padding: 19px;
  position: absolute;
  margin:auto;
  width: 675px;
  height: 50%;
  top:0;
  bottom:0;
  right:0;
  left:0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.3);

}
.login-logo {
  margin: auto;
  position: absolute;
  text-align: center;
  width: 200px;
  height: 200px;
  left: 0;
  right:0;
  top: -57%;
  bottom:0;
}
.a-button {
  display: block;
  position: relative;
}

.or {
  font-size: 2.5em;
  font-family: 'Lovers Quarrel';
  font-weight: 500;
}

#create-account {
  margin: 10px; 
}

.btn-square {
  width: 125px !important;
  height: 125px !important;
  border-radius: 50%;
  background-color: #00afd1;
  margin-bottom: 3px;
  margin-top: 3px;
  width: 100%;
  color: #fff;
  font-weight: 700 !important;
  border: none;
  padding: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.btn-square-green {
  width: 125px !important;
  height: 125px !important;
  border-radius: 50%;
  background-color: #2a81b8;
  margin-bottom: 3px;
  margin-top: 3px;
  width: 100%;
  color: #333;
  font-weight: 700 !important;
  border: none;
  padding: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

.btn-menu {
  background: transparent;
  border: none;
  color: #f8fdfc;
}
.create-btn {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.create-btn h1{
  font-size: 24px;
  font-weight: 300;
  font-family: 'Droid Sans';
  color: black;
  margin-bottom: 15px;
  text-shadow: 0px 1px 1px #eee;
}

.btn-main {
  
  background: #2181d8; /* Old browsers */
  background: -moz-linear-gradient(top,  #2181d8 0%, #4096ee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2181d8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2181d8 0%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2181d8 0%,#4096ee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2181d8 0%,#4096ee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2181d8 0%,#4096ee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2181d8', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
  margin-bottom: 3px;
  width: 300px;
  text-align: center;
  color: #fff;
  border-radius: 4px !important;
  border: none;
  height: 40px;
  line-height: 40px; 
  box-shadow: 1px 1px 1px #aaa;
}

.btn-main-small {
  background-color: #00afd1;
  width: 90%;
  color: #fff;
  font-weight: 700 !important;
  border: solid;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
   -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; 
}

.btn-main:hover {

}

.btn-half {
  background-color: #00afd1;
  width: 43%;
  margin:10px;
  color: #fff;
  font-weight: 700 !important;
  border: none;
  height: 35px;
  line-height: 35px;
   -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; 
}

.btn-half:hover {
  background-color: #2a81b8;
  color: #323a45;
}

.btn-twitter {
  background-color: rgba(64,153,255,.5);
  width: 80%;
}

.btn-twitter:hover {
  background-color: rgba(64,153,255,1);
}

.btn-twitter i{
  padding-left: 10px;
  padding-right: 95%;
  position: relative;
  color:#fff;
  height: 100%;
  line-height: 35px;
}

.btn-google {
  background-color: rgba(219,74,55,.5);
  width: 80%;
}

.btn-google:hover {
  background-color: rgba(219,74,55,1);
}

.btn-google i{
  padding-left: 10px;
  padding-right: 95%;
  position: relative;
  color:#fff;
  height: 100%;
  line-height: 35px;
  width: 45px;
}
.btn-instagram {
  background-color: rgba(223,180,5,.5);
  width: 80%;
}
.pad40{
  padding-bottom: 40px;
}
.pad30{
  padding-bottom: 30px;
}
.pad25{
  padding-bottom: 25px;
}
.pad20{
  padding-bottom: 20px;
}
.pad10{
  padding-bottom: 10px;
}
.btn-instagram:hover {
  background-color: rgba(223,180,5,1);
}

.btn-instagram i{
  padding-left: 10px;
  padding-right: 95%;
  position: relative;
  color:#fff;
  height: 100%;
  line-height: 35px;
}
.light-white {
  color: rgba(255,255,255,.5);
}

.grey-blue {
  color: #323a45;
}

.yomo-panel-title {
  margin-bottom: 20px;
  padding-top: 20px;
}
.yomo-panel-title small {
  color: #798795;
  font-size: inherit;
  font-weight: 400;
}

.yomo-control-group {
  position: relative;
}

.yomo-login-field {
  margin-top: 5px;
}

.yomo-login-field:focus + .yomo-login-field-icon {
  color: #2a81b8;
}

.yomo-login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  position: absolute;
  right: 13px;
  top:14px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

/** Hint Orange */
.hint--orange:after {
  background-color: #f17936 !important;
  color: #323a45 !important;
  }
.hint--orange.hint--top:before {
  border-top-color: #f17936; }
.hint--orange.hint--bottom:before {
  border-bottom-color: #f17936; }
.hint--orange.hint--left:before {
  border-left-color: #f17936; }
.hint--orange.hint--right:before {
  border-right-color: #f17936; }


label.filebutton {
    margin:auto;
    width:150px;
    height: 150px;
    vertical-align: middle;
    overflow:hidden;
    position:relative;
    background-color: transparent;
    margin-bottom: 10px;
    border-radius: 10px;
    border: dashed;
    border-color: #2a81b8;
    padding-top: 50px;
    color: #fff;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

.modal-content {
  border-radius: 0px !important;
}

.yomo-home-list {
  background-color: #fff;
  display: inline-block;
  height: 300px;
  width: 100%;
  overflow: hidden;
  /* max-width: 300px; */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 10px 0 -5px #eee,0 10px 1px -4px rgba(0,0,0,0.15),0 20px 0 -10px #eee,0 20px 1px -9px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 10px 0 -5px #eee,0 10px 1px -4px rgba(0,0,0,0.15),0 20px 0 -10px #eee,0 20px 1px -9px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 10px 0 -5px #eee,0 10px 1px -4px rgba(0,0,0,0.15),0 20px 0 -10px #eee,0 20px 1px -9px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 10px 0 -5px #eee,0 10px 1px -4px rgba(0,0,0,0.15),0 20px 0 -10px #eee,0 20px 1px -9px rgba(0,0,0,0.15);
  cursor: pointer;
  border-radius:4px;
  border-color: #eee;
  border-width: 1px;
  border:solid; 
}
.yomo-home-list-edit{
  position: relative;
  width: 25px;
  padding: 2px;
  height: 25px;
  border-radius: 4px;
  border-width: 0px !important;
  border: solid;
  top: -10px;
  float: right;
  right: 10px;
  background-color: transparent;
  text-transform: lowercase;
  font-size: 1.4em;
  /*opacity:0;*/
}

.yomo-home-list-create{
position: absolute;
color: #eee;
width: 35px;
padding: 2px;
height: 35px;
border-radius: 4px;
border-width: 0px !important;
border: solid;
bottom: 30px;
float: right;
right: 25px;
background-color: transparent;
text-transform: lowercase;
font-size: 2.4em;
border: solid;
border-width: 2px;
border-radius: 50%;
z-index: 2002;
}
.yomo-home-list-create i {
color: #555;
text-shadow: .5px 0px 0 #2a81b8;
}

.yomo-home-list-logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;  
  text-align: center;
}

.yomo-home-list-logo img{
  max-height: 100px;
  max-width: 230px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-width: thin;
  border-color: rgba(119,119,119,.5);
}

.yomo-headshot-view {
  margin-top: 10px;
}

.yomo-headshot-view-headshot {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.yomo-headshot-view span{
  margin: 5px;  
}

.yomo-headshot-view-headshot img {
  max-height: 500px;
  position: relative;
  border: solid;
  border-width: thin;
  padding: 10px;
  border-color: rgba(255,255,255, .5);
  margin-left: auto;
  margin-right: auto; 
}

.yomo-headshot-view-headshot-info {
  max-width: 490px;
  position: relative !important;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: #fff;
  font-size: 24px;
  font-family: "Helvetica", sans-serif !important;
}

.profile-name {
  color:#2a81b8;

}

.headshot-home-row {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: block;
}

.yomo-home-list-headshot{
  display: inline-block;
  margin:3px;
  line-height: 0px;
}

.yomo-home-list-headshot img{
  border-radius: 50%;
  width: 40px;
  height: 40px;

}

.yomo-home-list-info {
  position: relative;
height: 175px;
overflow: hidden;
display: block;
cursor: pointer;
text-align: center;
margin-top: 5px;
color: #777;
margin-left: auto;
margin-right: auto;
max-width: 100%;
}
.yomo-home-list-info table {
  margin-left: auto;
  margin-right: auto;
}
.yomo-home-list-info  ul {
  margin:0px !important;
}

.yomo-home-list-info  ul li{
  list-style-type: none;
  display: inline;

}
.yomo-home-list-info a {
  padding-left: 10px;
}
.yomo-home-list-info i{
  color:#2a81b8;
  width:20px;
  display: inline-block;
}

.yomo-home-list-info-1 {
  text-align: left;
margin-left: auto;
margin-right: auto;
position: relative;
height: 110px;
}

.yomo-home-list-title {
  font-size: 2em;
  font-weight:500;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  line-height: .95em;
}

.yomo-home-list-footer {
  padding: 20px; 
}

.admin-headshot {
  padding: 0px;
  border: solid;
  border-color:#2a81d8;
  border-width: 0px;
  background-color: #fff;
  box-shadow: 5px 5px 15px -4px rgb(0, 0, 0);
  margin:5px;
  z-index: 100;
}

.admin-logo-box {
  padding-left: 0px;
  padding-right :0px;
  border: solid;
  border-color:#eee;
  border-width: 0px;
  background-color: #fff;
  box-shadow: 5px 5px 15px -4px rgb(0, 0, 0);
  margin:5px;
  z-index: 100;
}

.admin-composite {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid;
  border-color:#eee;
  border-width: 1px;
  background-color: #fff;
  box-shadow: 5px 5px 15px -4px rgb(0, 0, 0);
  margin:5px;
  z-index: 100;
  border-radius: 0px;
  min-height: 20px;
  line-height: 20px;
}
.admin-headshot-editor {
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  
  border-radius: 0px;
  min-height: 20px;
  line-height: 20px;
}

.admin-delete {
  left: 0px;
  top: 0px;
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  background-color: #2a81b8;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  z-index: 101;
}
.admin-delete:hover {
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));

}


.admin-edit {
  right: 21px;
  top: 6px;
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  z-index: 101;
}
.admin-edit:hover {
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));

}

.admin-name-container {
  display: block;
  overflow: hidden;
  width: 100%;
  border:solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 0px;
  padding:5px;
  background-color: #fff;
}


.name-container {
  display: block;
  overflow: hidden;
  min-height: 50px;
  max-height: 50px;
  border:solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 0px;
}


.yomo-display-name {
  font-size: 1.2em;
  font-weight:500;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  color:#2a81b8;
  display: block;
  overflow: hidden;
}

.yomo-display-title {
  font-family: 'Raleway';
  font-size: 1em;
  font-weight:300;
  display: block;
  color: rgb(119,119,119);
  overflow: hidden;
}

.flat-pic {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.flat-new-pic {
  margin: 0;
  padding: 0px;
  z-index: 100;
  position: relative;
  top: 0px;
  width: 100%;
  left:0px;
}

.edit-input {
  text-align: center;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: block;
  margin-bottom: 5px;
}

.edit-input input {
  margin: 3px;
  position: relative;
  max-width: 100%;
}
::-webkit-input-placeholder {
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align:center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;  
}

:-ms-input-placeholder {  
   text-align:center; 
}

.headshot-modal {
 padding-top: 50px;
}

.float-save {
  z-index: 101;
  position: absolute;
  bottom: 22px;
  width:80%; 
  left:10%;
  height: 102px;
}

.no-margin {
  margin: 0px !important;

}

.yomo-customizer {
  left:5px;
  position: fixed;
  top: 40px;
  height: 100%;
  width:100px;
  border: solid;
  border-width: 3px;
  border-color:#fff;
  padding:3px;

}

.yomo-inner-customizer {
  border: double;
  border-width: 1px;
  border-color:#fff;
  position: relative;
  width: 100%;
  height: 100%;
}

.customizer-row {
  width: 100%;
  position: relative;
  border-bottom: none;
  border-color: white;
  border-width: 1px;
  color:#fff;
  height: 50px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 50px;
  padding-bottom: 5px;
}
.customizer-row:hover {
  background-color: rgba(255,255,255,.3);
  cursor: pointer;
  border-bottom: none;
}

.yomo-container {
  position:relative;
  width: 1000px;
  height: 800px;
  left:110px;
  top: 10px;
  text-align: center;
  border: solid; /*Vairalble*/
  border-width: 10px; /*Vairalble*/
  border-color:#000; /*Vairalble*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 2%; /*Vairalble*/
  padding-right: 2%; /*Vairalble*/
  padding-top:2%; /*Vairalble*/
  padding-bottom:2%; /*Vairalble*/
}
.yomo-inner-container {
  padding:3px;
  width: 100%;
  height: 100%;
  position: relative;
  border: ridge;
  border-width: 1px;
  border-color:#000;
  overflow: hidden;
}



.headshot-row {
  border: none;
  border-width:1px;
  border-color:#000;
  position:relative;
  width:100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0px;
}



.row-1 { height: 100%; }
.row-2 { height:50%; }
.row-3 { height:33.33333%; }
.row-4 { height:25%; }
.row-5 { height:20%; }
.row-6 { height: 16.66666%; }
.row-7 { height: 14.285714%; }
.row-8 { height: 12.5%; }
.row-9 { height: 11.11111%; }
.row-10 { height: 10%; }


.cols-1 { width: 100%; }
.cols-2 { width:50%; }
.cols-3 { width:33.33333%; }
.cols-4 { width:25%; }
.cols-5 { width:20%; }
.cols-6 { width: 16.66666%; }
.cols-7 { width: 14.285714%; }
.cols-8 { width: 12.5%; }
.cols-9 { width: 11.11111%; }
.cols-10 { width: 10; }
.cols-11 { width: 9.090909%; }
.cols-12 { width: 8.333333%; }
.cols-13 { width: 7.692307%; }
.cols-14 { width: 7.142857%; }
.cols-15 { width: 6.666666%; }
.cols-16 { width: 6.25%; }


.headshot-split-row {
  border: dotted;
  border-width:1px;
  border-color:#fff;
  position:relative;
  width:100%;
  height:auto;
  
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0px;
}

.leftRow{
  text-align: left;
  position: absolute;
  width:auto;
  border-color:red;
  border:solid;
  border-width:1px;
  left:0px;
  top:0px;
  overflow: hidden;
  display: inline-block;
}

.rightRow {
  position: relative;
  width:auto;
  border-color:red;
  border:solid;
  border-width:1px;
  text-align: right;
  float: right;
  top:0px; 
  overflow: hidden;
  display: inline-block;
}
.middleRow {

}

.yomo-moment-headshot {
  position: relative;
  display: inline-block;
  
  text-align: center;
  padding: 1px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: transparent;
  border-color: #2a81d8; 
  border: none; 
  border-width: 1px; 
  overflow: hidden;
  height: 100%;
  font-family: 'Droid Sans';
 }
 .yomo-headshot-inner {
  position: absolute;
  vertical-align: middle;
  height: auto;
  margin-top: auto;
  border: solid;
  border-width: 1px;
 }

.yomo-moment-headshot img{
  border-radius: 50%;
  border: solid;
  border-width: 2px;
  border-color: #bc131a; /*Variable */
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  position: relative;
}

.yomo-moment-headshot-name {
  font-weight: 500;
  font-size: 13px;
  white-space: nowrap;
}

.yomo-moment-headshot-title {  
  margin-top: -4px;
  font-size: 10px;
  letter-spacing: 1px;
}


.moment-logo {
  position: absolute;
}

.yomo-moment-logo img{
  border-color: #2a81d8;
  position: absolute;
}



@media (max-width: 750px) {
/*  .yomo-moment-headshot{
    width:120px;
    padding:7px;
    height: 120px;
    overflow: hidden;

  }
  .yomo-moment-headshot img{
    height: 90px;
    width: 90px;
  }
  .yomo-moment-headshot-name {
    font-size: 16px;
    font-weight: 300;
  }
*/}


.yomo-moment-headshot a{
  color: #000;
}


.yomo-create {
  margin-top: 5px;
}


.yomo-create-steps-header {
  text-align: center;
  color: #f8fdfc;
  font-size: 1.2em;
  font-family: 'Baumans', cursive;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;

}


.yomo-create-category {
  margin: 0px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /*border:dotted;
  border-color:#fff;*/
  min-height: 50px;
  width: 100%;
  color: #f8fdfc;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.yomo-explore-menu-left {
  text-align: center;
}

.yomo-explore-menu-right {
  text-align: center;
}

.yomo-create-category:nth-child(n) {
  background-color: #128ac9;

  }
.yomo-create-category:nth-child(2n+1) {
  background-color: #13c4d3;
  }


.greek-letters {
  font-family: 'Noto Serif', serif !important;
  width:100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}


.yomo-create-category i {
  width:100%;
  position: relative;
  line-height: 30px;
}


.yomo-create-category span {
  width: 100%;
  min-height: 30px;
  font-size: 14px;
  line-height: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .yomo-create-category span {
    display: block;

  }
}  

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  #wrapper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    /*background-image: url('../images/2.png');*/
    min-height:768px;
  }


  .yomo-create-category span { 
      font-size: 18px;
      text-align: left !important;
      line-height: 30px;
      width: 100%;
  }

  .yomo-create-category i{
    margin-top: 15px;
  }


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { ... }

.yomo-tooltips {
  height: 126px;
}
.yomo-tooltips .tooltip {
  left: -8px !important;
  position: relative !important;
  top: -8px !important;
}
.yomo-headings {
  margin-bottom: 12px;
}
.yomo-tiles {
  margin-bottom: 46px;
}
.yomo-icons {
  font-size: 32px;
  margin-left: -20px;
  padding-left: 20px;
}
.yomo-icons .yomo-content {
  margin: 0 0 0 -35px;
}
.yomo-icons .yomo-content > span {
  display: inline-block;
  margin: 0 0 32px 35px;
  width: 24px;
  font-size: 24px;
}
.yomo-icons-tooltip {
  bottom: 0;
  color: #c2c8cf;
  font-size: 12px;
  left: 100%;
  margin-left: 0 !important;
  position: absolute;
  width: 80px;
}
.yomo-illustrations .yomo-content {
  margin: 0 0 0 -40px;
  padding-top: 20px;
  *zoom: 1;
}
.yomo-illustrations .yomo-content:before,
.yomo-illustrations .yomo-content:after {
  display: table;
  content: "";
}
.yomo-illustrations .yomo-content:after {
  clear: both;
}
.yomo-illustrations .yomo-content > div {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 0 40px 40px;
  text-align: center;
}
.yomo-illustrations img {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  vertical-align: baseline;
}
.yomo-samples {
  margin-bottom: 46px;
}
.yomo-video {
  padding-top: 95px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.yomo-download-section {
  float: none;
  margin: 0 auto;
  padding: 60px 0 90px 20px;
  text-align: center;
}
.yomo-download-section [class*='fui-'] {
  margin: 3px 0 -3px;
}
.yomo-download {
  background-color: #ebedef;
  height: 120px;
  margin: 0 auto 32px;
  padding: 40px 28px 30px 32px;
  text-align: center;
  width: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.yomo-download img {
  height: 104px;
  width: 82px;
}
.yomo-download-text {
  font-size: 15px;
  padding: 20px 0;
  text-align: center;
}
.yomo-text-box a:hover {
  color: #2a81b8;
}
.yomo-browser {
  background: #2c3e50 url(../images/yomo/browser.png) 0 0 no-repeat;
  background-size: 659px 42px;
  color: #ffffff;
  margin: 0 41px 140px 0;
  padding-top: 42px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.yomo-browser-side {
  float: left;
  padding: 22px 20px;
  width: 111px;
}
.yomo-browser-side > h5 {
  margin-bottom: 3px;
  text-transform: none;
}
.yomo-browser-side > h6 {
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 3px;
  text-transform: none;
}
.yomo-browser-author {
  background: url(../images/yomo/browser-author.jpg) center center no-repeat;
  border: 3px solid #ffffff;
  display: block;
  height: 84px;
  margin: 0 auto;
  width: 84px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.yomo-browser-action {
  padding: 30px 0 12px;
}
.yomo-browser-action > .btn {
  padding: 9px 0 10px 11px !important;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.yomo-browser-action > .btn:before {
  color: #ffffff;
  content: '\e009';
  font-size: 16px;
  font-family: 'Flat-UI-Icons';
  font-weight: 300;
  margin-right: 12px;
  position: relative;
  top: 1px;
  -webkit-font-smoothing: antialiased;
}
.yomo-browser-content {
  background-color: #34495e;
  overflow: hidden;
  padding: 21px 0 0 20px;
  -webkit-border-radius: 0 0 6px;
  -moz-border-radius: 0 0 6px;
  border-radius: 0 0 6px;
}
.yomo-browser-content > img {
  border: 6px solid #ffffff;
  float: left;
  margin: 0 15px 20px 0;
  width: 134px;
}

canvas {
      /*outline:1px solid black     */
    }

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bt-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  background-color: rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
  height: 100%;
  border-width: 0px 0px 90px 0px;
  background-color: rgba(0,0,0,0.3);
  z-index: 2002;
  -webkit-transition: border-width 0.3s, background-color 0.3s;
  transition: border-width 0.3s, background-color 0.3s;
}
.bt-overlay {
  position: absolute;
  width: 100%;
}

.bt-menu-open .bt-overlay {
  height: 100%;
}

.bt-menu-trigger {
  position: fixed;
  bottom: 22px;
  left: 44px;
  z-index: 100;
  color: black;
  background-color: rgba(255,255,255,.2);
  display: block;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-left: 10%;
  margin-right: auto;
  width: 80%;
  height: 8%;
  background-color: #000;
  font-size: 0px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bt-menu-open .bt-menu-trigger span {
  background-color: #2980b9;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

.bt-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%);
}

.bt-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before,
.bt-menu-open .bt-menu-trigger span:after {
  background-color: #2980b9;
}

.bt-menu-open .bt-menu-trigger span:before {
  -webkit-transform: translateY(-350%);
  transform: translateY(-350%);
}

.bt-menu-open .bt-menu-trigger span:after {
  -webkit-transform: translateY(350%);
  transform: translateY(350%);
}

.bt-menu ul {
  position: fixed;
  bottom: 0px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  white-space: nowrap;
  height: 0;
  -webkit-transition: height 0s 0.3s;
  transition: height 0s 0.3s;
}

.bt-menu.bt-menu-open ul {
  height: 90px;
  -webkit-transition: none;
  transition: none;
}

.bt-menu ul li,
.bt-menu ul li a {
  text-align: center;
}

.bt-menu ul li {
  display: inline-block;
  font-family: 'Raleway';
  font-size: 16px;
  color: #2a81d8;
  margin-top: 37px;
  width: 10%;
  height: 90px;
  line-height: 90px;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.bt-menu ul li:nth-child(3) {
  margin-right: 70px;
}

.bt-menu ul li:nth-child(4) {
  margin-left: 70px;
}

.bt-menu.bt-menu-open ul li {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.bt-menu.bt-menu-open ul li:first-child,
.bt-menu.bt-menu-open ul li:last-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.bt-menu.bt-menu-open ul li:nth-child(2),
.bt-menu.bt-menu-open ul li:nth-last-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul li:nth-child(3),
.bt-menu.bt-menu-open ul li:nth-last-child(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.bt-menu ul li a {
  display: block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.15em;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.bt-menu ul li a:before {
  display: none;
  font-size: 32px;
}

.bt-menu ul li a:hover,
.bt-menu ul li a:focus {
  color: #2980b9;
  cursor: pointer;
}

@media screen and (max-width: 65.1em) {
  .bt-menu ul li a {
    font-size: 90%;
  }
}

@media screen and (max-width: 55.5em) {
  .bt-menu ul li {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width:7%;
  }

  .bt-menu ul li a {
    font-size: 0px;
  }

  .bt-menu ul li a:before {
    display: block;
  }
}

@media screen and (max-width: 32em) {
  .bt-menu-trigger {
    width: 40px;
    margin-left: -20px;
  }

  .bt-menu ul li {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 5%;
  }

  .bt-menu ul li:nth-child(3) {
    margin-right: 50px;
  }

  .bt-menu ul li:nth-child(4) {
    margin-left: 50px;
  }

  .bt-menu ul li a:before {
    font-size: 24px;
  }
}

.tabs {
    position: relative;
  margin: 40px auto;
  width: 750px;
}

.tabs input {
  position: absolute;
  z-index: 1000;
  width: 120px;
  height: 40px;
  left: 0px;
  top: 0px;
  opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  cursor: pointer;
}
.tabs input#tab-2{
  left: 120px;
}
.tabs input#tab-3{
  left: 240px;
}
.tabs input#tab-4{
  left: 360px;
}

.tabs label {
  background: #5ba4a4;
  background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
  background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  position: relative;
  padding: 0 20px;
    float: left;
  display: block;
  width: 80px;
  color: #385c5b;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}

.tabs input:hover + label {
  background: #5ba4a4;
}

.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
  z-index: 6;
}

.clear-shadow {
  clear: both;
}

.content {
    background: #fff;
  position: relative;
    width: 100%;
  height: 370px;
  z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}

.content div {
    position: absolute;
  top: 0;
  left: 0;
  padding: 10px 40px;
  z-index: 1;
    opacity: 0;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
  z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.content div h2,
.content div h3{
  color: #398080;
}
.content div p {
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
  text-align: left;
  margin: 0;
  color: #777;
  padding-left: 15px;
  font-family: Cambria, Georgia, serif;
  border-left: 8px solid rgba(63,148,148, 0.1);
}


.composite-left-bar .cc-row .btn {
  margin-bottom:10px;
  width:100%;
}

.themeList {
  list-style: none;
  max-height: 400px;
  overflow-y:auto;
  padding-left: 0px;
}
.themeList li {
  display:block;
  background-color:#eee;
  padding:10px;
  margin:5px;
  cursor: pointer;
}
.themeList li:hover {
  background-color:#ddd;
}

.themeList li .fa {
  float:right;
  
}

.load .fa-spinner {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  visibility:hidden;
}
.load {
  text-align: center;
}



@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.theme {
  height:auto;
  max-width:none;
}

.theme .fa {
  color: #fff;
  text-shadow: 0px 0px 5px #000;

}