.m {
	border:solid;
	border-width: 10px;
	padding: 10px;
	border-color:#000;
	margin-left:auto;
	margin-right: auto;
	width:95%;
	margin-bottom: 20px;
}
.m-inset {
	border:solid;
	border-width:1px;
	padding: 5px;
}
.m-menu{
	z-index: 9999;
	position: absolute;
	left: 35px;
	top: 50%;
	margin-top: -210px;
}

.m-menu-inner {
	position: relative;
	border-radius: 50%;
	background: #2181d8;
	background: -moz-linear-gradient(top, #2181d8 0%, #4096ee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2181d8), color-stop(100%,#4096ee));
	background: -webkit-linear-gradient(top, #2181d8 0%,#4096ee 100%);
	background: -o-linear-gradient(top, #2181d8 0%,#4096ee 100%);
	background: -ms-linear-gradient(top, #2181d8 0%,#4096ee 100%);
	background: linear-gradient(to bottom, #2181d8 0%,#4096ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2181d8', endColorstr='#4096ee',GradientType=0 );
	box-shadow: 0px 1px 2px #727272;
	width: 40px;
	height: 40px;
	margin-bottom: 15px;
	margin-left: -25px;
	text-align: left;
}

.menu-icon-1 {
	color: #f9f9fa;
	font-size: 1.6em;
	margin-top: 9px;
	margin-left: 8px;
}

.menu-icon-4 {
	color: #fff;
	font-size: 1.6em;
	margin-top: 10px;
	margin-left: 13px;
}

.menu-icon-5 {
	color: #fff;
	font-size: 1.9em;
	margin-top: 7px;
	margin-left: 15px;
}

.m-social {
	z-index: 9999;
	position: absolute;
	right: 75px;
	top: 50%;
	margin-top: -210px;
	display: block;
}

.m-header {
	position: relative;
	width:100%;
	text-align: center;
}

.m-logo {
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
	border:solid;
	border-width: 1px;
	border-color:gray;
	box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

.m-title {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 3em;
	color:rgb(42,129,184);
  	text-shadow: 2px 2px 0 rgba(0,0,0,0.1);

}
.m-date {
	font-size: 1.2em;
	margin-top: -15px;
}
.m-body {

}

.m-headshot-container {
width: auto;
text-align: center;
/*border:solid;
background-color: #fff; */
}

.m-headshot {
display: inline-block;
margin: 5px;
border: 1px solid #e8e8e8;
background-color: #f9f9fa;
padding: 10px;
}

.m-headshot img {
max-width: 150px;
max-height: 150px;
}
.h-name {
	margin-top: 2px;
	font-size: 1.3em;
	line-height: 1.3em;
}
.h-title {
	font-size: 1em;
	line-height: 1em;	
}

.b-photo {
	position: absolute;
	width: 30px;
	height:30px;
	left: 0px;
	top: 0px;
}
.b-name {
	position: absolute;
	left: 35px;
	width:115px;
	top: 5px;
	font-size: 1.2em;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
.b-2ndline {
	position: absolute;
	top:35px;
	width: 150px;
	height: 100px;
	border:none;
	display: table;
}
.b-2ndline-body {
  	margin:auto;
  	position: relative;
  	padding: 5px;
	white-space: pre-wrap;
	vertical-align: middle;
	/*top:0;
	bottom:0;
	right:0;
	left:0;*/
	text-align: center;
	display: table-cell;
	font-family: 'Sue Ellen Francisco';
	font-size: 1.5em;
	font-style: italic;
	letter-spacing: 1px;
	text-decoration: none;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	cursor: pointer;

}

.b-2ndline-body-msg {
	z-index: 3;
	position: absolute;
	border:solid;
	top: 15px;
	width:150px;
  	margin:auto;
  	padding: 5px;
	white-space: pre-wrap;
	vertical-align: middle;
	/*top:0;
	bottom:0;
	right:0;
	left:0;*/
	text-align: center;
	display: table-cell;
	font-family: 'Sue Ellen Francisco';
	font-size: 1.5em;
	font-style: italic;
	letter-spacing: 1px;
	text-decoration: none;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);

}

.b-2ndline-body-msg input {
	width:135px;
}

.b-social {
	position: absolute;
	left: -3px;
	width: 150px;
	height: 45px;
	bottom: 15px;
	color:#888;
	font-size: 50px;
	border-radius:50%;
}
.b-facebook {
	position: absolute;
	bottom: 0px;
	left: 5px;
	width: 45px;
	height:45px;
}
.b-twitter {
	position: absolute;
	bottom: 0px;
	width: 45px;
	height:45px;
	left:55px;
}
.b-linkedin {
	position: absolute;
	bottom: 0px;
	width: 45px;
	height:45px;
	left:105px;
}
.b-active {
	color:#2a81d8;
}

@media (max-width: 750px) {
	.m {
		border:none;
		border-width: 0px;
		padding: 1px;
		border-color:#000;
		width: 100%;
	}	
	.m-inset {
		border:solid;
		border-width:0px;
		padding: 0px;
	}
	.m-title { font-size: 2em;}
	.m-date { margin-top: -10px;}
	.m-logo {}
} 

/* FLIIIIPPPPP  entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	-webkit-perspective: 1000;
	-ms-perspective: 1000;
	-moz-perspective: 1000;

	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d; 
	-ms-transform-style: preserve-3d;
	position: relative;	
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
}

.flip-container, .front, .back {
	width: 150px;
	height: 185px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;

	transform-origin: 100% 92.5px;
	-moz-transform-origin: 100% 92.5px;
	-webkit-transform-origin: 100% 92.5px; /* half of height */
	-ms-transform-origin: 100% 92.5px;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	margin: 0;
}

.share {
cursor: pointer;
line-height: 1em;
font-family: 'Oleo Script', Helvetica, Arial, sans-serif;
font-size: 3em;
color: rgb(42,129,184);
text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}