body
{
font-family:		Calibri, Verdana, Helvetica, Arail, sans-serif;
background-color:	#0066cc;
border-bottom:		thin solid black;
}
.modal-title
{
color:				orange;
}
.btn
{
background-color:	orange;
box-shadow:			1px 1px 1px 1px blue;
}

button
{
	padding:				3px;
	border-radius:			15px;
	width:					140px;
	background:				#fff no-repeat top right;
	background-color: 		orange;
	box-shadow:				1px 1px 1px 1px blue;
	
}

input
{
	padding:			3px;
	border-radius:		15px;
	width:				140px;
	background:			#fff no-repeat top right;
	box-shadow:			1px 1px 1px 1px blue;

}
.container
{
	background-color:	#dfdfdf;
	font-size:			95%;
	font-style:			italic;
	font-weight:		bold;
	border-radius:		15px;
	box-shadow:			2px 3px 0px 0px black;
}
.sh1
	{
	text-align:			center;
	border-bottom:		thin solid Black;
	font-size:			125%;
	font-weight:		bold;
	font-style: 		italic;
	}
h1
{
text-align:				center;
color:					orange;
}
