<!-- css link-->
<link type="text/css" rel="stylesheet" href="../styles/feed.css" />


<div class="yomo-feed container">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center" ng-repeat="moment in moments | orderBy: 'createdAt':true" style="display: inline-block; overflow: hidden;">
    <div class="yomo-home-list">
      <div class="yomo-home-list-edit" ng-show="moment.editable">
        <a href="#/edit/{{moment.id}}" tooltip="Edit" tooltip-placement="right"><i class="fa fa-edit"></i></a>
      </div>
       <div class="yomo-home-list-create">
            <a href="#/composite/{{moment.id}}" tooltip="Create" tooltip-placement="top" class="ng-scope"><i class="fa fa-camera-retro"></i></a>
        </div>
      <div class="yomo-home-list-logo">
        <a href="#/moment/{{moment.id}}">
          <img class="img-responsive" ng-src="{{moment.get('logo').url()}}"></a>
      </div>      
      <div class="yomo-home-list-info">
        <a href="#/moment/{{moment.id}}">
          <span class="yomo-home-list-title">{{moment.get('title')}}</span>
        </a>
        <br>
        <div class="yomo-home-list-info-1">
          <table>
            <tr ng-show="moment.attributes.location"><td><strong>Location: </strong></td>
            <td>{{moment.get('location')}}</td>
          </tr>
          <tr ng-show="moment.attributes.date">
            <td><strong>Date: </strong></td>
            <td>{{moment.get('date')}}</td>
          </tr>
          </table>
          <div class="headshot-home-row">
            <div class="yomo-home-list-headshot" ng-repeat="headshot in moment.headshotsInFeed | orderBy: rank | limitTo: 10">
                <a href="#/moment/{{moment.id}}"><img class="img-responsive" ng-src="{{headshot.get('headshot').url()}}" alt="{{headshot.displayName}}"></a>
            </div>
          </div>          
        </div><!-- end of yomo-home-list-info-1 -->
      </div><!-- end of yomo-home-list-info  -->    
    </div><!-- end of yomo-home-list -->
  </div>
</div>
