
<!-- Navigation -->
<div class="yomo-nav">
  <span class="nav-arrow-left" ng-click="goBack()"><a href=""><i class="icon-angle-left icon-2x"></i><span class="nav-text-left">Back</span></a></span>
  <span class="nav-title">Edit Profile</span>
</div>

<!-- Body -->
<div class="col-xs-12 text-center yomo-profile">
  <div class="yomo-profile-box">
    <img class="profile-avatar" ng-src="{{avatar.url()}}">
    <div class="text-center">change photo</div>  
  
    <form novalidate ng-submit="modifyUser()">
      <div class="col-xs-4 yomo-input-label">Name: </div>
      <div class="col-xs-8">
        <input type="text" class="yomo-input-modify" ng-model="fullName" placeholder="{{userName}}">
      </div>
      <div class="col-xs-4 yomo-input-label">Username: </div>
      <div class="col-xs-8">
        <input type="text" class="yomo-input-modify" ng-model="username" placeholder="{{userName}}">
      </div>
      <div class="col-xs-4 yomo-input-label">Email: </div>
      <div class="col-xs-8">
        <input type="text" class="yomo-input-modify" ng-model="email" placeholder="{{email}}">
      </div>
      <div class="col-xs-4 yomo-input-label">Password: </div>
      <div class="col-xs-8">
        <input type="text" class="yomo-input-modify" ng-model="password" placeholder="{{password}}">
      </div>
      <div class="col-xs-4 yomo-input-label">Facebook: </div>
      <div class="col-xs-8">
        <input type="text" class="yomo-input-modify" ng-model="facebookId" placeholder="{{facebookID}}">
      </div>
      <div class="col-xs-4 yomo-input-label">Twitter: </div>
      <div class="col-xs-8">
        <input type="text" class="yomo-input-modify" ng-model="twitterId" placeholder="{{twitterID}}">
      </div>
      <div class="col-xs-4 yomo-input-label">Linked In: </div>
      <div class="col-xs-8">
        <input type="text" class="yomo-input-modify" ng-model="linkiedinId" placeholder="{{gplusID}}">
      </div>
      <div class="col-xs-4 yomo-input-label">Instagram: </div>
      <div class="col-xs-8">
        <input type="text" class="yomo-input-modify" ng-model="instagramId" placeholder="{{instagramID}}">
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-8">
        <button type="submit" class="btn-main" ng-click="go('/profile')">
          <i class="icon-bolt icon"></i>Save Profile</button>
      </div>
    </form>
  </div>
</div>
