
<div class="yomo-body">
	<span class="nav-arrow-left" ng-click="goBack()"><a href=""><i class="icon-angle-left icon-2x"></i></a></span>
  	<span class="nav-title">Create Account</span>
	<div class="pad40"></div>
	<div class="col-12 text-center login-wrapper">
		<form novalidate ng-submit="createUser()" ng-controller="LoginCtrl">
			<div class="yomo-control-group">
			<input type="text" value placeholder="Email Address" class="yomo-input yomo-login-field" ng-model="username"><label class="yomo-login-field-icon icon-envelope-alt"></label>
			</div>
			<div class="yomo-control-group">
				<input type="password" value placeholder="Create Password" class="yomo-input yomo-login-field" ng-model="password">
				<label class="yomo-login-field-icon icon-lock"></label>
			</div>
			<div class="yomo-control-group">
			<input type="text" value placeholder="Your Full Name" class="yomo-input yomo-login-field" ng-model="fullName">
			<label class="yomo-login-field-icon icon-user"></label>
			</div>
			<button type="submit" class="yomo-button btn-orange"> <i class="icon-bolt"></i>
				Create Account
			</button>
		</form>
	</div>
</div>
