<!-- css link-->
<link type="text/css" rel="stylesheet" href="../styles/theme-feed.css" />

<div class="yomo-feed container">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center" ng-repeat="theme in themes" style="display: inline-block; overflow: hidden;">
    <div class="yomo-home-list theme" 
          style="background-color:{{theme.attributes.data.backgroundColor}}; border-color:{{theme.attributes.data.momentBorderColor}};">
      <div class="yomo-home-list-edit">
        <a href="#/themes/{{theme.id}}" tooltip="Edit" tooltip-placement="right"><i class="fa fa-edit menu-icon-1 ng-scope" tooltip-placement="right" tooltip="Edit"></i></a>
        
        <i data-toggle="modal" data-target="#deleteTheme" ng-click="setSelected(theme)" class="fa fa-times"></i>
      </div>
      <div class="yomo-home-list-info" style="color:{{theme.attributes.data.headshotNameFontColor}}">
          <span class="yomo-home-list-title">{{theme.attributes.data.themeTitle}}</span>
        <br>
        <div class="yomo-home-list-info-1" >
          <table>
            <tr ng-show="theme.attributes.data.backgroundColor"><td><strong>Background Color: </strong></td>
            <td>{{theme.attributes.data.backgroundColor}}</td></tr>
            <tr ng-show="theme.attributes.data.momentBorderColor"><td><strong>Moment Border Color: </strong></td>
            <td>{{theme.attributes.data.momentBorderColor}}</td></tr>
            <tr ng-show="theme.attributes.data.headshotSize"><td><strong>Headshot Size: </strong></td>
            <td>{{theme.attributes.data.headshotSize}}</td></tr>
            <tr ng-show="theme.attributes.data.headshotBorderColor"><td><strong>Headshot Border Color: </strong></td>
            <td>{{theme.attributes.data.headshotBorderColor}}</td></tr>
            <tr ng-show="theme.attributes.data.headshotBorderType"><td><strong>headshot Border Type: </strong></td>
            <td>{{theme.attributes.data.headshotBorderType}}</td></tr>          
        </table>

        <div class="headshot-home-row">
          <div class="yomo-home-list-headshot" ng-repeat="headshot in theme.attributes.headshotsInFeed | orderBy: rank | limitTo: 10">
              <a href="#/theme/{{theme.id}}"><img class="img-responsive" ng-src="{{headshot.get('headshot').url()}}" alt="{{headshot.displayName}}"></a>
          </div>
        </div>
          
        </div>
      </div>
       
    </div>
  </div>
</div>

<div class="modal fade headshot-modal" id="deleteTheme" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center">Delete "{{selectedTheme.attributes.themeTitle}}"</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete "{{selectedTheme.attributes.themeTitle}}"?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" ng-click="deleteTheme(selectedTheme)">Delete</button>
        </div> <!-- modal-footer -->
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->
