
<!-- Navigation -->
    <div class="navbar navbar navbar-static-top yomo-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand yomoments" href="#">Yo! Moments</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/home">Home</a></li>
            <!-- <li><a href="#/profile">Profile</a></li> -->
              <li><a href="#/themes">Themes</a></li>
              <li><a href="#/layouts">Layouts</a></li>
            <li><a href="" ng-click="logOutUser()">Logout</a></li>
          </ul>
          
        </div>
      </div>
    </div>

<!-- Containeer -->    
<div class="container text-center">
  <!-- Control Center Desktop-->
  <div class="composite-left-bar hidden-xs hidden-sm hidden-md">
    <div class="cc-menu">
      <div class="cc-header">Headshots</div>
      <span class="cc-title">headshopt Shape</span>
      <div class="cc-button">
        <span class="cc-button-headshot-circle" ng-click="ccHeadshotShape('circle')"></span>
        <span class="cc-button-headshot-oval" ng-click="ccHeadshotShape('oval')"></span>
        <span class="cc-button-headshot-square" ng-click="ccHeadshotShape('square')"></span>
      </div>
      <span class="cc-title">Headshot Size - {{data.composite.moment.attributes.headshotSize}}px</span>
      <div class="cc-row">
        <input type="range" id="newHeadshotSize" ng-model="data.composite.moment.attributes.headshotSize" ng-mouseup="ccHeadshotSize()" min="40" max="200" style="width:90px; height:23px;">
      </div>
      <span class="cc-title">Headshot Border - {{data.composite.moment.attributes.headshotBorderWidth}}px</span>
      <div class="cc-row">
          <input type="range" id="newHeadshotBorderWidth" ng-model="data.composite.moment.attributes.headshotBorderWidth" ng-mouseup="ccHeadshotBorderWidth()" min="0" max="10" style="width:90px; height:23px;">
          <input type="color" id="newHeadshotBorderColor" ng-model="data.composite.moment.attributes.headshotBorderColor" ng-change="ccHeadshotBorderColor()">
      </div>
      <span class="cc-title">Headshot Shadow</span>
      <div class="cc-row">
          <select class="form-control" ng-model="data.composite.moment.attributes.headshotShadow" id="newHeadshotShadow" ng-change="ccHeadshotShadow()">
            <option value="off">Off</option>
            <option value="standard">Standard</option>
          </select>
      </div>
      <span class="cc-title">Headshot Options</span>
      <div class="cc-row">
        <input type="checkbox" ng-model="data.composite.moment.attributes.headshotNameOn" value="true" ng-click="ccHeadshotName()">Name Visible - {{data.composite.moment.attributes.headshotNameFontSize}}px<br>
        <input type="range" id="newHeadshotNameFontSize" ng-model="data.composite.moment.attributes.headshotNameFontSize" ng-mouseup="ccHeadshotNameFontSize()" min="8" max="24" style="width:90px; height:23px;">
        <input type="color" id="newHeadshotNameFontColor" ng-model="data.composite.moment.attributes.headshotNameFontColor" ng-change="ccHeadshotNameFontColor()"><br>
        <input type="checkbox" ng-model="data.composite.moment.attributes.headshotTitleOn" value="true" ng-click="ccHeadshotTitle()">Title Visible - {{data.composite.moment.attributes.headshotTitleFontSize}}px<br>
        <input type="range" id="newHeadshotTitleFontSize" ng-model="data.composite.moment.attributes.headshotTitleFontSize" ng-mouseup="ccHeadshotTitleFontSize()" min="8" max="24" style="width:90px; height:23px;">
        <input type="color" id="newHeadshotTitleFontColor" ng-model="data.composite.moment.attributes.headshotTitleFontColor" ng-change="ccHeadshotTitleFontColor()"><br>
      </div>

      <div class="cc-header">Composite</div>
      <span class="cc-title">Border - {{data.composite.moment.attributes.momentBorderWidth}}px</span>
      <div class="cc-row">
          <input type="range" id="newMomentBorderWidth" ng-model="data.composite.moment.attributes.momentBorderWidth" ng-mouseup="ccMomentBorderWidth()" min="0" max="80" style="width:90px; height:23px;">
          <input type="color" id="newMomentBorderColor" ng-model="data.composite.moment.attributes.momentBorderColor" ng-change="ccMomentBorderColor()">
      </div>
      <span class="cc-title">Padding - {{data.composite.moment.attributes.momentBorderMargin}}px</span>
      <div class="cc-row">
          <input type="range" id="newMomentBorderMargin" ng-model="data.composite.moment.attributes.momentBorderMargin" ng-mouseup="ccMomentBorderMargin()" min="0" max="30">
      </div>
      <!-- <span class="cc-title">Logo Size</span> -->
      <span class="cc-title">Logo Width - {{data.composite.moment.attributes.logoScale*100}}px</span>
      <div class="cc-row">
        <!-- <input type="checkbox" ng-model="data.composite.moment.attributes.logoOn" value="true" ng-click="ccLogo()">Logo Visible<br> -->
        <input type="range" id="newLogoSize" ng-model="data.composite.moment.attributes.logoScale" ng-mouseup="ccLogoSize()" min="0.10" max="2.0" step="0.10">
      </div>
      <span class="cc-title">Background Color</span>
      <div class="cc-row">
        <input type="color" id="newBackgroundColor" ng-model="data.composite.moment.attributes.backgroundColor" ng-change="ccBackgroundColor()">
      </div>
      <span class="cc-title">Save</span>
      <div class="cc-row">
        <button id="save" class="btn btn-success"> Save as Image </button> <br />
        <button data-toggle="modal" data-target="#saveTemplate" class="btn btn-primary"> Save as Theme </button>
        <button data-toggle="modal" data-target="#loadTemplate" ng-click="loadAllThemes()" class="btn btn-primary"> Load Theme </button>
      </div>

    </div>
  </div>
  
  <div class="composite-right">
    <composite ng-model="data.composite"></composite>
      <div class="text-right">
     <div class="btn-group">
              <button ng-click="loadLayout1()" type="button" class="btn btn-danger">Center</button>
              <button ng-click="loadAllLayouts()" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                  <li><a href ng-click="loadTriangleUpLayout()" >Triangle(up)</a></li>
                  <li><a href ng-click="loadTriangleDownLayout()" >Triangle(down)</a></li>
				  <li><a href ng-click="loadCircleLayout()" >Circle</a></li>
                  <li><a href ng-click="loadDiamondLayout()" >Diamond</a></li>
                  <li class="divider"></li>
                  <li ng-repeat="layout in layouts | layoutFilter:headshots.length"><a href ng-click="loadLayout(layout.attributes.data)">{{layout.attributes.title}}</a></li>
              </ul>
          </div>
      </div>
  </div>

</div>

<div class="modal fade headshot-modal" id="saveTemplate" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center">Save Theme</h4>
        </div>
        <div class="modal-body">
        <form novalidate ng-submit="createTheme()">
          <!-- <input type="file" accept="image/*" image="logo" id="newLogo"/><br> -->
          <input ng-model="templateName" type="text" placeholder="Theme Name" class="yomo-input">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save Changes"></input>
          </form>
        </div> <!-- modal-footer -->
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->

<div class="modal fade headshot-modal" id="loadTemplate" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center">Click to Load a Theme</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
            <ul class="well">
              <li><strong>Headshot Shape:</strong>{{themeDetails.headshotBorderType}} </li>
              <li><strong>Headshot Size:</strong>{{themeDetails.headshotSize}} </li>
              <li><strong>Headshot Border:</strong>{{themeDetails.headshotBorderWidth}} </li>
              <li><strong>Headshot Shadow:</strong>{{themeDetails.headshotShadow}} </li>
            </ul>
          </div>
            <div class="col-md-6">
            <ul class="well">
              <li><strong>Font Size:</strong>{{themeDetails.headshotNameFontSize}} </li>
              <li><strong>Font Color:</strong>{{themeDetails.headshotNameFontColor}} </li>
              <li><strong>Composite Border:</strong>{{themeDetails.momentBorderWidth}} </li>
              <li><strong>Logo Size:</strong>{{themeDetails.logoScale}} </li>
            </ul>
          </div>
        </div>
          <ul class="themeList" >
            <li ng-repeat="theme in themes" ng-click="applyTheme(theme)" ng-mouseenter="showThemeDetails(theme)" style="background-color: {{theme.attributes.data.backgroundColor}}; color: {{theme.attributes.data.headshotNameFontColor}}">{{theme.attributes.data.themeTitle}} <i class="fa fa-spinner" ></i></li>
          </ul>
          <p class="load"><i class="fa fa-spinner"></i></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Never Mind</button>
          </form>
        </div> <!-- modal-footer -->
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->
