<!-- css link-->
<!-- <link type="text/css" rel="stylesheet" href="../styles/edit-moment.css" /> -->

<!-- Navigation -->
<div class="navbar navbar-static-top yomo-nav" role="navigation">
  <div class="container">
            <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Yo! Moments</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand yomoments" href="#/home">Yo! Moments</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/home">Home</a></li>
            <!-- <li><a href="#/profile">Profile</a></li> -->
              <li><a href="#/themes">Themes</a></li>
              <li><a href="#/layouts">Layouts</a></li>
            <li><a href="" ng-click="logOutUser()">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<!-- Aviary -->
<div id='injection_site' style="width: 80%; position: absolute; left:10%;" ></div>

<!-- Body -->
<div class="container text-center padding-top-5">

<div class="col-lg-3 col-sm-4 col-xs-12 thin">
  <div class="col-xs-12 logo-wrapper">
    <span class="modern">Step 1: Upload Logo</span>  
        <!-- View Logo -->
        <div class="col-xs-12 no-padding upload multi-columns-row">
            
            <div class="admin-logo-box">
              <img class="img-responsive admin-logo2" src="{{currentMoment.get('logo').url()}}" style="opacity:1; z-index:99 position:fixed;" ng-click="toggleChangeLogo()">              
            </div>
            <div class="admin-composite">
                <a ng-click="toggleChangeLogo()">Change Logo</a>
                <div ng-show= "changeLogo">
                    <form ng-submit="updateLogo()" novalidate>
                      <input type="file" accept="image/*" image="currentMoment.logo"  id="newLogo" class="margin-center"/><br>
                      <input type="submit" value="Save">
                    </form>
                </div>
              </div>    
        </div>

        <!-- Change Info -->
        <div class="col-xs-12 no-padding upload multi-columns-row">
          <div class="admin-composite">
                  <span class="yomo-display-name">{{currentMoment.attributes.title}}</span>
                  <span class="yomo-display-title">{{currentMoment.attributes.location}}</span>
                  <span class="yomo-display-title">{{currentMoment.attributes.date}}</span>
              </div>
              <div class="admin-composite">
                <a ng-click="toggleChangeInfo()">Edit Info</a>
                <div ng-show= "changeInfo">
                    <form ng-submit="updateInfo()" novalidate>
                      <input type="text" ng-model="currentMoment.newTitle" placeholder="{{currentMoment.attributes.title}}" /><br>
                      <input type="text" ng-model="currentMoment.newLocation" placeholder="{{currentMoment.attributes.location}}" /><br>
                      <input type="text" ng-model="currentMoment.newDate" placeholder="{{currentMoment.attributes.date}}" /><br>
                      <input type="submit" value="Save">
                    </form>
                </div>
              </div>  
            <div class="col-xs-12 no-padding upload multi-columns-row">
            <div class="admin-composite">
              <span ng-click='deleteMoment(currentMoment)'>Delete This Moment</span>
            </div>    
        </div>
        </div>

  </div>
  <div class="col-xs-12 logo-wrapper">
    <span class="modern">Step 2: Add Headshots</span> 
        <!-- Add Headshot -->
          <div class="no-padding upload multi-columns-row">
            <div class="admin-headshot">
              <form ng-submit="addHeadshot()" novalidate>     
              <img src="http://placehold.it/300x300" class="img-responsive flat-pic" style="opacity:0; z-index:99 position:fixed;" ng-hide="headshot.attributes.photo">
              <div class="text-center flat-new-pic" ng-show="headshot.attributes.photo">
                <a><img class="img-responsive margin-center" id='editableimage1' ng-show="headshot.attributes.photo" ng-src="{{headshot.get('photo').url()}}" ng-model="headshot.attributes.photo" ng-click="launchEditor('editableimage1');"/></a>
                <div class="edit-input">
                  <input type="text" ng-model="headshot.attributes.displayName" placeholder="Add Name">
                  <input type="text" ng-model="headshot.attributes.title" placeholder="Add Title">
                  <input type="submit" class="btn btn-block btn-default" value="Save">
                </div>
              
              </div>
              <input id="inputImage2" type="file" accept="image/*" image="headshot.attributes.photo" resize-max-height="300"
                resize-max-width="300"
               resize-quality="1.0" capture="camera" class="capture-class"/>
            
            </form>
            <div class="admin-name-container">
                <span><i class="icon icon-camera"></i><br>Add Headshot</span>
            </div>
          </div>
        </div>
  </div>
  <div class="col-xs-12 logo-wrapper">
    <span class="modern">Step 3: Composite</span> 
        <!-- Delete Moment -->
        <div class="col-xs-12" ng-if="currentMoment.attributes.composite">
            <a data-toggle="modal" data-target="#viewComposite"><img ng-src="{{currentMoment.get('composite').url()}}" class="img-responsive" style="padding-top:10px;"></a>
        </div>     
        
        <div class="col-sm-12 no-padding upload multi-columns-row">
            <div class="admin-composite">
              <a href="#/composite/{{currentMoment.id}}">Composite Editor</a>
            </div>
          </div>
          <!-- 
          <div class="col-xs-12 no-padding upload multi-columns-row">
            <div class="admin-composite">
              <a href="#/composite-sq/{{currentMoment.id}}">Square</a>
            </div>
          </div>
          <div class="col-xs-12 no-padding upload multi-columns-row">
            <div class="admin-composite">
              <a href="#/composite-ph/{{currentMoment.id}}">Experimental</a>
            </div>
          </div> -->

          <!-- Composite Image -->
        
  </div>

</div>

<div class="col-lg-9 col-sm-8 col-xs-12">
    <div class="col-xs-12 padding-top-5"><span class="modern">View Headshots</span></div>
         <div ng-repeat="headshot in headshots | orderBy: 'createdAt':true" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 no-padding multi-columns-row clearfix" ng-cloak>
          <div class="admin-headshot">
            <a ng-click='deleteHeadshot(headshot)' class="admin-delete"><span class="glyphicon glyphicon-remove"></span></a>
            <a ng-click="selectHeadshot(headshot)" data-toggle="modal" data-target="#editHeadshot">
              <img id="{{headshot.id}}" class="margin-center img-responsive flat-pic" ng-src="{{headshot.get('photo').url()}}" alt="{{headshot.displayName}}">
<!-- 
              <img class="img-responsive" id='editableimage1' onerror="this.src = 'image-not-found.png';" ng-show="headshot.attributes.photo" ng-src="{{headshot.get('photo').url()}}" ng-model="headshot.attributes.photo" ng-click="launchEditor('editableimage1');"/> -->

            </a>
              <div class="name-container">
                  <span class="yomo-display-name">{{headshot.get('displayName')}}</span>
                  <span class="yomo-display-title">{{headshot.get('title')}}</span>
                
              </div>
          </div>
        
        </div>

          </form>
</div>

<div class="modal fade headshot-modal" id="editHeadshot" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center">{{selectedHeadshot.attributes.displayName}}</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="updateHeadshot()" novalidate>
          <img ng-src="{{selectedHeadshot.get('photo').url()}}" class="img-responsive margin-center" id="aviaryEdit" ng-click="launchEditor('aviaryEdit');" >
          <div class="admin-headshot-editor">
            <a ng-click="launchEditor('aviaryEdit');" >Edit Photo</a>
          </div>
          <div class="admin-headshot-editor">
              <a ng-click="toggleUpdateHeadshot()">Upload Different Photo</a>
               <div ng-show="changeHeadshot">    
                  <input type="file" accept="image/*" image="selectedHeadshot.attributes.photo" id="newLogo" capture="camera" class="margin-center"/>
                </div>
          </div>
            <input type="text" ng-model="selectedHeadshot.attributes.displayName" placeholder="{{selectedHeadshot.attributes.displayName}}" class="yomo-input">
            <input type="text" ng-model="selectedHeadshot.attributes.title" placeholder="{{selectedHeadshot.attributes.title}}" class="yomo-input">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save Changes"></input>
          </form>
        </div> <!-- Footer -->
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->

<div class="modal fade" id="viewComposite" tabindex="-1" role="dialog">
    <div class="modal-dialog width-1000">
      <div class="modal-content">
        
        <div class="modal-body">
        <img ng-src="{{currentMoment.get('composite').url()}}" class="img-responsive">
        </div> 
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Order</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Share</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> <!-- Footer -->
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->






</div>
