
<!-- Navigation -->
<div class="navbar navbar-static-top yomo-nav" role="navigation">
  <div class="container">
            <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Yo! Moments</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand yomoments" href="#/home">Yo! Moments</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/profile">Profile</a></li>
              <li><a href="#/themes">Themes</a></li>
            <li><a href="" ng-click="logOutUser()">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<!-- Body -->
<div class="yomo-profile col-xs-12 txet-center">
  <img class="img-responsive" ng-show="headshot.attributes.photo" ng-src="{{headshot.get('headshot').url()}}" />
</div>

  <div class="col-12 text-center yomo-headshot-view">
    <div class="yomo-headshot-view-headshot">
      
    </div>
  <div class="yomo-headshot-view-headshot-info">
   <span class="cursive">{{headshot.attributes.displayName}}</span>
  </div>
  <div ng-show=" headshot.attributes.title">
    <div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1>{{headshot.attributes.title}}</h1></strong><div class="ribbon-stitches-bottom"></div></div>
<!--     <span class="ribbon-green">{{headshot.attributes.title}}</span>
 -->  </div>
<br>
<br>

  <div class="yomo-headshot-view-headshot-info">
    
  </div>
</div>
<div class="col-12 text-center">
    <h5>Connected Accounts</h5>

    <button class="btn-social-login btn-website" ng-show="headshot.attributes.websiteID"><a ng-href="{{headshot.attributes.websiteID}}">{{headshot.attributes.websiteID}}<i class="icon-windows icon-2x"></i></a></button>
    <br ng-show="headshot.attributes.websiteID">
    <button class="btn-social-login btn-email-1" ng-show="headshot.attributes.emailID"><a ng-href="mailto:{{headshot.attributes.emailID}}?subject=YO! What's up!">{{headshot.attributes.emailID}}<i class="icon-envelope icon-2x"></i></a><br></button>
    <br ng-show="headshot.attributes.emailID">
    <button class="btn-social-login btn-linkedin" ng-show="headshot.attributes.linkedinID"><a ng-href="{{headshot.attributes.linkedinID}}"><i class="icon-linkedin icon-2x"></i></a><br></button>
    <br ng-show="headshot.attributes.linkedinID">
    <button class="btn-social-login btn-facebook" ng-show="headshot.attributes.facebookID"><a ng-href="{{headshot.attributes.facebookID}}"><i class="icon-facebook icon-2x"></i></a></button>
    <br ng-show="headshot.attributes.facebookID">
    <button class="btn-social-login btn-twitter" ng-show="headshot.attributes.twitterID"><a ng-href="http://twitter.com/{{headshot.attributes.twitterID}}"><i class="icon-twitter icon-2x"></i></a><br></button>
    <br ng-show="headshot.attributes.twitterID"> 
    <button class="btn-social-login btn-instagram" ng-show="headshot.attributes.instagramID"><a ng-href="http://instagr.am/{{headshot.attributes.instagramID}}"><i class="icon-instagram icon-2x"></i></a></button>
<!--     <button class="btn-social-login btn-google"><a ng-href="http://plus.google.com/{{gplusID}}"><i class="icon-google-plus icon-2x"></i></a></button>
  <br ng-show="headshot.attributes.gplusID">
 -->    

  </div>
