
<!-- Navigation -->
<div class="navbar navbar-static-top yomo-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="">
            <a class="navbar-brand yomoments" href="#">Yo! Moments</a>
            <!-- <span class="slash">/Y</span> -->
          </div>
          
    </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/home">Home</a></li>
            <!-- <li><a href="#/profile">Profile</a></li> -->
            <li><a href="#/themes">Themes</a></li>
            <li><a href="#/layouts">Layouts</a></li>
            <li><a href="" ng-click="logOutUser()">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<!-- Body -->
<div class="container">
    <div class="col-md-5">
        <h1>Layout Admin</h1>
        <table class="table">
            <tr>
                <td><strong><input type="text" placeholder="search" ng-model="search"></strong></td>
                <td>
                    <button ng-click="newLayout()" data-toggle="modal" data-target="#newLayout" class="btn btn-primary">Create a Layout</button>
                </td>
            </tr>
            <tr ng-repeat="layout in layouts | filter:search">
                <td style="width:50%;"><strong>{{ layout.attributes.title }}</strong></td>
                <td>
                    <button ng-click="editLayout(layout)" data-toggle="modal" data-target="#newLayout" class="btn btn-primary">Edit Layout</button>
                    <button ng-click="deleteLayout(layout)" class="btn btn-danger">Delete</button>
                </td>
            </tr>

        </table>
    </div>
    <div class="col-md-7">
        <h1>How to Use</h1>
        <p>Here you can edit, save, and delete layouts. They are automatically available in the composite.</p>
        <p>Several <em>'Automatic'</em> layouts are included when editing a composite. These can not be edited.</p>
    </div>

    <div class="modal fade headshot-modal" id="newLayout" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">
                        <span ng-if="currentLayout">Edit: {{currentLayout.attributes.title}} </span>
                        <span ng-if="!currentLayout">New Layout </span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal layoutEditor" role="form" ng-submit="saveLayout()">
                        <div class="form-group col-sm-12 draggable" ng-repeat="row in rows track by $index">
                            <label class="col-sm-2 control-label">Row {{$index + 1}}</label>
                            <div class="col-sm-6">
                                <input required type="number" min="0" max="10" ng-model="row" ng-blur="applyRow($index, row)" class="form-control" placeholder="Num of Headshots">
                            </div>
                            <div ng-if="!$last" class="col-sm-4">
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-danger" ng-click="deleteRow($index)">Delete</button>
                                </div>
                            </div>
                            <div ng-if="$last && $index < 7" class="col-sm-4">
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-default" ng-click="addRow($index)">Add Row</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save Changes" />
                        </div> <!-- modal-footer -->
                </form>
            </div> <!-- modal-content -->
        </div> <!-- modal-dialog -->
    </div> <!-- modal -->
</div>

