
<div class="yomo-body">
  <div class="background-image">
  </div>
</div>

<!-- Navigation -->
<div class="navbar navbar-static-top yomo-nav" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand yomoments" href="#/home">Yo! Moments</a>
        <!-- <img src="images/logo.png" height="50" class="navbar-logo"> -->
      </div>
  </div>
</div>
  
	
    <!-- <button class="btn-social-login btn-facebook-1" ng-click="logInFB()"> <i class="icon-facebook icon-2x"></i>
			Sign in with facebook
		</button>
		<span class="or">or</span>
 -->
  <!-- <div class="login-logo"></div> -->
  	<div class="login-box" id="body">
      <img src="images/logo.png" width="150">
      <div class="nav-title">Beta Login</div>
      <div class="pad10"></div>
  		<form novalidate ng-submit="logInUser()" ng-controller="LoginCtrl">
        <div class="yomo-control-group"><input type="text" value placeholder="Username" class="yomo-input yomo-login-field" ng-model="username" lowercase><label class="yomo-login-field-icon icon-user"></label></div>
        <div class="yomo-control-group"><input type="password" ng-model="password" class="yomo-input yomo-login-field" value placeholder="Password"><label class="yomo-login-field-icon icon-lock"></label></div>
        <button type="submit" class="yomo-button btn-main yomo-login-field"><i class="icon-bolt"></i>  Login</button>
      </form>
      		
  	</div>
<!--   	<div class="pad10"><a href="#/signup" class="modern">Create Account</a></div>
  	<span ng-click="toggleForgotPassword()" class="modern2 link">Forgot Password</span>
      <div class="forgot-password scale-fade" ng-if="fp">
        <form novalidate ng-submit="resetPassword()" >
          <input type="text" value placeholder="Enter Email Address" class="yomo-input" ng-model="resetEmail">
          <button type="submit" class="yomo-button btn-orange">Reset My Password</button>
        </form>
      </div>
 -->
  
<script>
document.getElementById("body").style.backgroundColor="blue";
</script>
