
<!-- Navigation -->
<div class="navbar navbar-static-top yomo-nav" role="navigation">
  <div class="container">
        <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Yo! Moments</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div style="position:relative;">
        <span class="yomoments"><a class="navbar-brand" href="#/home">Yo! Moments</a></span>
        <!-- <span class="slash">/</span> -->
        <!-- <span class="yomoments-cat"><a class="navbar-brand">#team</a></span> -->
      </div>
      <!-- <span class="slash">/Event</span> -->
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/home">Home</a></li>
        <!-- <li><a href="#/profile">Profile</a></li> -->
          <li><a href="#/themes">Themes</a></li>
          <li><a href="#/layouts">Layouts</a></li>
        <li><a href="" ng-click="logOutUser()">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Body -->
<div class="m" ng-controller="MomentCtrl">
  <div class="m-inset">
    <div class="m-menu">
        <div class="m-menu-inner"><i class="fa fa-camera menu-icon-1 ng-scope" tooltip-placement="right" tooltip="Add Headshot"></i>
        </div>
        <div class="m-menu-inner"><i class="fa fa-edit menu-icon-1 ng-scope" tooltip-placement="right" tooltip="Edit"></i>
        </div>
        <div class="m-menu-inner"><i class="fa fa-th menu-icon-1 ng-scope" tooltip-placement="right" tooltip="Composite"></i>
        </div>
        <div class="m-menu-inner"><i class="fa fa-dollar menu-icon-1 ng-scope" tooltip-placement="right" tooltip="11x14 Print"></i>
        </div>
        <div class="m-menu-inner"><i class="fa fa-info menu-icon-1 ng-scope" tooltip-placement="right" tooltip="Info"></i>
        </div>
        <div class="m-menu-inner"><i class="fa fa-heart menu-icon-1 ng-scope" tooltip-placement="right" tooltip="Respect"></i>
        </div>
        <div class="m-menu-inner"><i class="fa fa-lock menu-icon-1 ng-scope" tooltip-placement="right" tooltip="Private"></i>
        </div>
      </div><!--end of m-menu-->

    <div class="m-header">
      <img class="m-logo" ng-src="{{moment.get('logo').url()}}">
      <div class="m-title">{{moment.attributes.title}}</div>
      <div class="m-date" ng-show="moment.attributes.date">{{moment.attributes.date}}</div>
      <div class="m-location" ng-show="moment.attributes.location">{{moment.attributes.location}}</div>
    </div>
    <div class="m-body">
      <div class="m-headshot-container">
        <div class="m-headshot" ng-repeat="headshot in headshots">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img class="img-responsive" ng-src="{{headshot.get('headshot').url()}}" alt="{{headshot.displayName}}">
                <div class="h-name">{{headshot.attributes.displayName}}</div>
                <div class="h-title">{{headshot.attributes.title}}</div>
              </div>
              <div class="back">
                <img class="b-photo" ng-src="{{headshot.get('headshot').url()}}" alt="{{headshot.displayName}}">
                <div class="b-name">{{headshot.attributes.displayName}}</div>
                <div class="b-2ndline">
                  <div class="b-2ndline-body" ng-hide= "leaveMsg"><a ng-click="dropLine()">Leave me a message</a></div>
                  <div class="b-2ndline-body-msg" ng-show= "leaveMsg"><input type="text" ng-model="msg"></div>
                </div>
                <div class="b-social">
                  <div class="b-facebook" ng-hide= "headshot.attributes.fbookId"><i class="fa fa-facebook-square" tooltip="Add Facebook"></i>
                  </div>
                  <div class="b-facebook b-active" ng-show= "headshot.attributes.fbookId">
                    <a href="http://twitter.com/{{headshot.attributes.twitterId}}" target="_blank"alt="@{{headshot.attributes.twitterId}}"><i class="fa fa-facebook-square"></i></a>
                  </div>
                  <div class="b-twitter" ng-hide= "headshot.attributes.twitterId"><i class="fa fa-twitter-square" tooltip="Add Twitter"></i></div>
                  <div class="b-twitter b-active" ng-show= "headshot.attributes.twitterId">
                    <a href="http://twitter.com/{{headshot.attributes.twitterId}}" target="_blank"alt="@{{headshot.attributes.twitterId}}"><i class="fa fa-twitter-square"></i></a>
                  </div>
                  <div class="b-linkedin"><i class="fa fa-linkedin-square"  tooltip="Add Linked In"></i></div>
                </div><!-- end b-social -->
              </div><!--end back-->
            </div><!--end flipper-->
          </div><!--end flip-container-->
        </div><!--end m-headshot-->
      </div><!--end m-headshot container-->
    </div><!--end m-body-->
  </div><!--end m-inset-->
</div><!--end m-->

<div id="janrainEngageShare" class="margin-center text-center share ng-scope">Another Share Button</div>

<!-- <div class="container">
  <div data-hull-component="comments/list@hull" data-hull-id="app"></div>
</div>
 -->
<div class="modal fade headshot-modal" id="editHeadshot" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center">{{selectedHeadshot.attributes.displayName}}</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="updateHeadshot()" novalidate>
          <img ng-src="{{selectedHeadshot.get('photo').url()}}" class="img-responsive margin-center" id="aviaryEdit" ng-click="launchEditor('aviaryEdit');" >
          <div class="admin-headshot-editor">
            <a ng-click="launchEditor('aviaryEdit');" >Edit Photo</a>
          </div>
          <div class="admin-headshot-editor">
              <a ng-click="toggleUpdateHeadshot()">Upload Different Photo</a>
               <div ng-show="changeHeadshot">    
                  <input type="file" accept="image/*" image="selectedHeadshot.attributes.photo" id="newLogo" capture="camera" class="margin-center"/>
                </div>
          </div>
            <input type="text" ng-model="selectedHeadshot.attributes.displayName" placeholder="{{selectedHeadshot.attributes.displayName}}" class="yomo-input">
            <input type="text" ng-model="selectedHeadshot.attributes.title" placeholder="{{selectedHeadshot.attributes.title}}" class="yomo-input">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save Changes"></input>
          </form>
        </div> <!-- Footer -->
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->
<script type="text/javascript">
  
</script>

<!-- <div class="m-social">
        <div class="shareaholic-canvas m-social-inner" data-app="share_buttons" data-app-id="5354186">
          <div class="shareaholic-share-buttons-container shareaholic-ui flat round wrapped vertical right-align" style="height: auto;">
            <div class="shareaholic-share-buttons-wrapper shareaholic-ui">
              <ul class="shareaholic-share-buttons" style="">
                <li data-service="facebook" class="shareaholic-share-button" data-original-title="Facebook" style="">
                  <span class="share-button-counter">0</span>
                  <a href="javascript:void(0);">
                    <i class="shareaholic-service-icon service-facebook"></i>
                    <span class="share-button-verb">
                      <b>Share</b>
                    </span>
                  </a>
                </li>
                <li data-service="twitter" class="shareaholic-share-button" data-original-title="Twitter" style="">
                  <span class="share-button-counter">0</span>
                  <a href="javascript:void(0);">
                    <i class="shareaholic-service-icon service-twitter"></i>
                    <span class="share-button-verb">
                      <b>Share</b>
                    </span>
                  </a>
                </li>
                <li data-service="pinterest" class="shareaholic-share-button" data-original-title="Pinterest" style="">
                  <span class="share-button-counter">0</span>
                  <a href="javascript:void(0);">
                    <i class="shareaholic-service-icon service-pinterest"></i>
                    <span class="share-button-verb">
                      <b>Share</b>
                    </span>
                  </a>
                </li>
                <li data-service="reddit" class="shareaholic-share-button" data-original-title="Reddit" style="">
                  <span class="share-button-counter">0</span>
                  <a href="javascript:void(0);">
                    <i class="shareaholic-service-icon service-reddit"></i><span class="share-button-verb">
                    <b>Share</b>
                  </span>
                </a>
              </li>
              <li data-service="linkedin" class="shareaholic-share-button" data-original-title="LinkedIn" style="">
                <span class="share-button-counter">0</span>
                <a href="javascript:void(0);">
                  <i class="shareaholic-service-icon service-linkedin"></i>
                  <span class="share-button-verb">
                    <b>Share</b>
                  </span>
                </a>
              </li>
              <li data-service="google_plus" class="shareaholic-share-button" data-original-title="Google+" style="">
                <span class="share-button-counter">0</span>
                <a href="javascript:void(0);">
                  <i class="shareaholic-service-icon service-google_plus"></i>
                  <span class="share-button-verb"><b>Share</b></span>
                </a>
              </li>
              <li data-service="tumblr" class="shareaholic-share-button" data-original-title="Tumblr" style="">
                <span class="share-button-counter">0</span>
                <a href="javascript:void(0);">
                  <i class="shareaholic-service-icon service-tumblr"></i>
                  <span class="share-button-verb"><b>Share</b></span>
                </a>
              </li>
              <li data-service="all" class="shareaholic-share-button" data-original-title="More Options" style="display: none;">
                <span class="share-button-counter">0</span>
                <a href="javascript:void(0);">
                  <i class="shareaholic-service-icon service-all"></i>
                  <span class="share-button-verb"><b>Share</b></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>   -->
