<!-- link to css -->
<link type="text/css" rel="stylesheet" href="../styles/home.css" />
<!-- Navigation -->
<div class="navbar navbar-static-top yomo-nav" role="navigation">
  <div class="container">
            <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Yo! Moments</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand yomoments" href="#">Yo! Moments</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/profile">Profile</a></li>
              <li><a href="#/themes">Themes</a></li>
            <li><a href="" ng-click="logOutUser()">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


<!-- Body -->
  <div class="container text-center yomo-profile">
    <div class="yomo-profile-box">
      <img class="profile-avatar" ng-src="{{avatar.url()}}">
      <div class="yomo-home-list-title profile-name">
      {{fullName}}
      </div>
      <div>
        <button ng-click="go('profile/settings')">Edit Your Profile</button>
      </div><br>  
    </div>

    <div class="relative-box">
      <div class="social-box">
        <div class="social-cell-1">
          <i class="icon-2x icon-facebook"></i>
          <div class="meta-info">{{facebookId}}</div>
        </div>
        <div class="social-cell-2">
          <i class="icon-2x icon-envelope"></i>
          <div class="meta-info">{{email}}</div>
        </div>
        <div class="social-cell-3">
          <i class="icon-2x icon-linkedin"></i>
          <div class="meta-info">{{linkedinId}}</div>
        </div>
       
       <div class="social-cell-4">
          <i class="icon-2x icon-twitter"></i>
          <div class="meta-info">Add Twitter</div>
        </div>
        
       <div class="social-cell-5">
          <i class="icon-2x icon-instagram"></i>
          <div class="meta-info">Add Instagram</div>
        </div>
       
       <div class="social-cell-6">
          <i class="icon-2x icon-github"></i>
          <div class="meta-info">Add Github</div>
       </div>
       
      </div>  
    </div>
    <div class="yomo-profile-box-2">
      <button>Add Profile Content Here</button>
    </div>
  </div>
