
<!-- Navigation -->
<div class="navbar navbar-static-top yomo-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="">
            <a class="navbar-brand yomoments" href="#">Yo! Moments</a>
            <!-- <span class="slash">/Y</span> -->
          </div>
          
    </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/home">Home</a></li>
            <!-- <li><a href="#/profile">Profile</a></li> -->
            <li><a href="#/themes">Themes</a></li>
            <li><a href="#/layouts">Layouts</a></li>
            <li><a href="" ng-click="logOutUser()">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<!-- Body -->
<div class="yomo-profile col-xs-12 text-center">
  	<div class="create-btn pad10">
	  	<a data-toggle="modal" data-target="#createTheme"><button class="btn-main">
	      <i class="glyphicon glyphicon-list-alt"></i>
	      Create Theme
	  	</button></a>
	</div>
</div>


<div id="test" ng-include="'views/partials/theme-feed.html'"></div>

<!-- Modals -->
<div class="modal fade headshot-modal" id="createTheme" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title text-center">Create Theme</h4>
        </div>
        <div class="modal-body">
        <form novalidate ng-submit="createTheme()">
          <!-- <input type="file" accept="image/*" image="logo" id="newLogo"/><br> -->
          <input ng-model="newThemeTitle" type="text" placeholder="Theme Title" class="yomo-input">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save Changes"></input>
          </form>
        </div> <!-- modal-footer -->
      </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal -->


