
<!-- Navigation -->
    <div class="navbar navbar navbar-static-top yomo-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand yomoments" href="#">Yo! Moments</a>
          <!-- <form class="navbar-form navbar-left">
            <select class="form-control" ng-model="moments" ng-options="moment.attributes.title for moment in moments" id="newComposite">
              <option value="">Choose Composite</option>
            </select>
          </form> -->
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/home">Home</a></li>
            <!-- <li><a href="#/profile">Profile</a></li> -->
            <li><a href="#/themes">Themes</a></li>
            <li><a href="#/layouts">Layouts</a></li>
            <li><a href="" ng-click="logOutUser()">Logout</a></li>
          </ul>
          
        </div>
      </div>
    </div>

<!-- Containeer -->    
<div class="container text-center">
  <!-- Control Center Desktop-->
  <div class="composite-left-bar hidden-xs hidden-sm hidden-md">
    <div class="cc-menu">
		  <div class="cc-header">Theme Info</div>
		  <span class="cc-title">Theme Title</span>
		  <div class="cc-row">
		    <input type="text" id="newThemeName" ng-model="theme.themeTitle">
		  </div> 
		  <div class="cc-header">Headshots</div>
		  <span class="cc-title">headshot Shape</span>
		  <div class="cc-button">
			<span class="cc-button-headshot-circle" ng-click="ccHeadshotShape('circle')"></span>
			<span class="cc-button-headshot-oval" ng-click="ccHeadshotShape('oval')"></span>
			<span class="cc-button-headshot-square" ng-click="ccHeadshotShape('square')"></span>
		  </div>
		  <span class="cc-title">Headshot Size - {{data.composite.moment.attributes.headshotSize}}px</span>
		  <div class="cc-row">
			<input type="range" id="newHeadshotSize" ng-change="ccHeadshotSize()" ng-model="data.composite.moment.attributes.headshotSize" min="40" max="200" step="1" style="width:90px; height:23px;">
		  </div>
		  <span class="cc-title">Headshot Border - {{data.composite.moment.attributes.headshotBorderWidth}}px</span>
		  <div class="cc-row">
			  <input type="range" id="newHeadshotBorderWidth" ng-change="ccHeadshotBorderWidth()" ng-model="data.composite.moment.attributes.headshotBorderWidth" min="0" max="10" step="1" style="width:90px; height:23px;">
			  <input type="color" id="newHeadshotBorderColor" ng-change="ccHeadshotBorderColor()" ng-model="data.composite.moment.attributes.headshotBorderColor" >
		  </div>
		  <span class="cc-title">Headshot Shadow</span>
		  <div class="cc-row">
			  <select class="form-control" ng-change="ccHeadshotShadow()" ng-model="data.composite.moment.attributes.headshotShadow" id="newHeadshotShadow">
				<option value="off">Off</option>
				<option value="standard">Standard</option>
			  </select>
		  </div>
		  <span class="cc-title">Headshot Options</span>
		  <div class="cc-row">
			<input type="checkbox" ng-change="ccHeadshotName()" ng-model="data.composite.moment.attributes.headshotNameOn" value="true">Name Visible<br>
			<input type="range" id="newHeadshotNameFontSize" ng-mouseup="ccHeadshotNameFontSize()" ng-model="data.composite.moment.attributes.headshotNameFontSize" min="8" max="24" step="1" style="width:90px; height:23px;">
			<input type="color" id="newHeadshotNameFontColor" ng-change="ccHeadshotNameFontColor()" ng-model="data.composite.moment.attributes.headshotNameFontColor" ><br>
			<input type="checkbox" ng-change="ccHeadshotTitle()" ng-model="data.composite.moment.attributes.headshotTitleOn" value="true">Title Visible<br>
			<input type="range" id="newHeadshotTitleFontSize" ng-mouseup="ccHeadshotTitleFontSize()" ng-model="data.composite.moment.attributes.headshotTitleFontSize" min="8" max="24" step="1" style="width:90px; height:23px;">
			<input type="color" id="newHeadshotTitleFontColor" ng-change="ccHeadshotTitleFontColor()" ng-model="data.composite.moment.attributes.headshotTitleFontColor"><br>
		  </div>
      <div class="cc-header">Composite</div>
      <span class="cc-title">Border - {{data.composite.moment.attributes.momentBorderWidth}}px</span>
      <div class="cc-row">
          <input type="range" id="newMomentBorderWidth" ng-change="ccMomentBorderWidth()" ng-model="data.composite.moment.attributes.momentBorderWidth" min="0" max="80" step="1" style="width:90px; height:23px;">
          <input type="color" id="newMomentBorderColor" ng-change="ccMomentBorderColor()" ng-model="data.composite.moment.attributes.momentBorderColor">
      </div>
      <span class="cc-title">Padding - {{data.composite.moment.attributes.momentBorderMargin}}px</span>
      <div class="cc-row">
          <input type="range" id="newMomentBorderMargin" ng-change="ccMomentBorderMargin()" ng-model="data.composite.moment.attributes.momentBorderMargin" min="0" max="30" step="1">
      </div>
      <span class="cc-title">Logo Size</span>
      <div class="cc-row">
        <!-- <input type="checkbox" ng-model="data.composite.moment.attributes.logoOn" value="true" ng-click="ccLogoOn()">Logo Visible<br> -->
        <input type="range" id="newLogoSize" ng-change="ccLogoSize()" ng-model="data.composite.moment.attributes.logoScale" min="0.10" max="2.0" step="0.10">
      </div>
      <span class="cc-title">Background Color</span>
      <div class="cc-row">
        <input type="color" id="newBackgroundColor" ng-change="ccBackgroundColor()" ng-model="data.composite.moment.attributes.backgroundColor">
      </div>
      <span class="cc-title">Save</span>
      <div class="cc-row">
        <button id="save" ng-click="saveTheme()"> Save Theme </button>
      </div>

    </div>
  </div>
  
  <div class="composite-right">
    <theme-sample ng-model="data.composite"></theme-sample>
  </div>

</div>
